<!doctype html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>{% block title %}Front-End Conf 2014{% endblock %}</title>
      {{ "home-02.css" | asset_url | stylesheet_tag }}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    </head>
    <body class="{% if mixture.url == 'index' %}boom{% elsif mixture.url == '2012' %}prev-2012{% elsif mixture.url == '2011' %}prev-2011{% elsif mixture.url == '2010' %}prev-2010{% elsif mixture.url == '2009' %}prev-2009{% elsif mixture.url == 'registration-info' %}registration{% endif %}">

      <header class="pts tac">
        <a href="/"><img alt="Front-End Design Conference" class="dib" src="{{ "logo-front-end.svg" | asset_url }}" width="200" /></a>
      </header>

      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        <section>

          <p>If you're looking for <a href="/st-pete">wrap-up info from St. Pete</a>, it's still here.</p>

        </section>
        {% include "navigation" %}
        <div class="contact">
          Contact Info:
          <a href="https://twitter.com/frontendconf">
            <i aria-role="hidden" data-icon="&#x74;"></i>
          </a>
          <a href="http://www.facebook.com/FrontEndDesign">
            <i aria-role="hidden" data-icon="&#x66;"></i>
          </a>
          <a href="https://dandenney.wufoo.com/forms/frontend-design-conference-support/">
            <i aria-role="hidden" data-icon="&#x63;"></i>
          </a>
        </div>
        <a href="http://mixture.io" class="mixture">Built and hosted with Mixture.io <img src="{{ "mixture.png" | asset_url }}" alt="Mixture.io" /></a>
      </footer>
      {{ "app.js" | asset_url | script_tag }}
      {{ "konami-altered.js" | asset_url | script_tag }}

      {% block scripts %}{% endblock %}

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3589831-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </body>
  </html>
