{% block content %}


	<h1 class="fit-07">2009</h1> 

  <div class="video-wrapper">

    <div class="inner">

      <img src="{{ "2009.png" | asset_url }}" alt="2009" width="900">

    </div>
    
  </div>   

  <h2 class="fit-08">Speakers</h2>

  <div class="center-group inner">

    <article class="past-speaker">

      <img src="{{ "fabio-sasso.jpg" | asset_url }}" alt="Fabio Sasso">

      <img src="{{ "fabio-sasso.png" | asset_url }}" alt="Fabio Sasso" class="character">

      <h4>Fabio Sasso</h4>
      <ul>
        <li>
          <p>Fabio is a graphic, web designer and enthusiast from Porto Alegre, very south of Brazil. He is the co-founder of a design studio called Zee and runs a blog called <a href="http://abduzeedo.com">Abduzeedo</a> where he shares his thoughts, cool sites, and tutorials.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/abduzeedo">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @abduzeedo
          </a>
        </li>
        <li>
          <h5>Design Inspiration</h5>
          <p>Finding inspiration is a wonderful part of beginning a new project. Fabio Sasso will be discussing the ways in which he finds inspiration and how the Brazilian culture influences his work. He runs Abduzeedo and has published over 250 Daily Inspiration posts so far....</p>
          <p><i aria-role="hidden" data-icon="&#x76;"></i>
            Nate Croft's <a href="http://vimeo.com/5913249">video recording</a></p>
        </li>
      </ul>
    </article>

    <article class="past-speaker">

      <img src="{{ "grant-friedman.jpg" | asset_url }}" alt="Grant Friedman">
      <img src="{{ "grant-friedman.png" | asset_url }}" alt="Grant Friedman">

      <h4>Grant Friedman</h4>

      <ul>
        <li>
          <p>Grant Friedman is often hired to kill bad design, with her weapon of choice, ExpressionEngine. She has been an active part of the web, designing and developing for 10 years, and through her efforts, has been considered (on blog list posts) one of the best women designers in the world and an amazing female role model for web designers.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/colorburned">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @colorburned
          </a>
        </li>
        <li>
          <h5>Techniques for Creating &amp; Using Design Resources</h5>
            <p>In this presentation you will learn how to create your own Photoshop/Illustrator brushes and patterns. You will then learn how to combine those resources with textures to create your own unique design.</p>
            <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5916506">video recording</a></p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">
      
      <img src="{{ "jonathan-longnecker.jpg" | asset_url }}" alt="Jonathan Longnecker">
      <img src="{{ "jonathan-longnecker.png" | asset_url }}" alt="Jonathan Longnecker">

      <h4>Jonathan Longnecker</h4>
      <ul>
        <li>
          <p>Niki has been designing since she was a little kid - drawing cartoons, making fake newspapers, and planning her plot to take over the world. (Just kidding). Her early interests in design were heightened when she got her first computer, it was love at first sight! She made her first website in 1996, with the help of geocities and word-art. Now the rest is history. Fast forward to today - she's all grown up with a nifty degree that says she knows what she's doing.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/necker47">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @necker47
          </a>
        </li>
        <li>
          <h5>Why ExpressionEngine is Great for Designers</h5>
            <p>If you're a designer who wants to create awesome websites without worrying about the restrictions of layouts, functionality and templates, then you should give ExpressionEngine a try. It's the most flexible publishing system you'll ever use, and it puts the visual and code power back in your hands. Join us as we take a look at how you can get up and running with ExpressionEngine.</p>
            <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5919743">video recording</a></p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "chris-coyier.jpg" | asset_url }}" alt="Chris Coyier">
      <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier">

      <h4>Chris Coyier</h4>
      <ul>
        <li>
          <p>Chris Coyier is a mild-mannered web designer by day. Long hours of helping clients with their website needs keeps lots of ideas flowing for CSS-Tricks, his web design blog and community site. In addition to client work, Chris has built a number of other sites aimed at aiding the web design and developer.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/chriscoyier">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @chriscoyier
          </a>
        </li>
        <li>
          <h5>Using jQuery to Pick Up Where CSS Leaves Off</h5>
            <p>If you are already fairly comfortable with HTML and CSS the learning curve for getting into jQuery is deliciously small. That's a great thing, because jQuery extends your toolbox as a designer and makes some amazing things possible. In this presentation you'll learn how to accomplish things that CSS is notoriously bad at, do things that CSS just can't do, and see a variety of practical solutions to real-world design problems.</p>
            <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5933285">video recording</a></p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "andrew-maier.jpg" | asset_url }}" alt="Andrew Maier">
      <img src="{{ "andrew-maier.png" | asset_url }}" alt="Andrew Maier">

      <h4>Andrew Maier</h4>
      <ul>
        <li>
          <p>andrewmaier is an interaction designer at Crush + Lovely. Previously, andrewmaier worked at Apple, Inc. as a visual interaction designer and front end web developer. She enjoys making pretty websites, and then she likes writing and speaking about it. andrewmaier co-authored Fancy Form Design and The Art &amp; Science of CSS; she also was an expert reviewer and wrote the foreword for Sexy Web Design.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/andrewmaier">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @andrewmaier
          </a>
        </li>
        <li>
          <h5>Affordances in Modern Web Design</h5>
            <p>How do your users decide what actions lie behind a given interface element? For example: what makes a button a button? In this talk, we'll focus on the logical underpinnings of design; drawing on research in the fields of product design and ergonomics. We'll examine the foundations of usability and what it means to
interaction design. Finally, we'll explore what it means to "overdesign" an application, and how you can avoid it.</p>
            <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5934429">video recording</a></p>

        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "john-ashenden.jpg" | asset_url }}" alt="John Ashenden">
      <img src="{{ "john-ashenden.png" | asset_url }}" alt="John Ashenden">

      <h4>John Ashenden</h4>
      <ul>
        <li>
          <p>John Ashenden bathes daily in a pool of creativity. Living in Gainesville, FL, he is, among other things, an experienced web designer and developer. John's work has been featured in a number of distinguished periodicals and design showcases. His day's are currently spent as Creative Director for Grooveshark, a free-music streaming service, which has quickly become one of the world's leading resources for free and on-Demand music....</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/ashenden">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @ashenden
          </a>
        </li>
        <li>
          <h5>How to Make it Better</h5>
          <p>John Ashenden will be showing how to "make it better"! Design is in the details and this presentation will show how to use customized elements to capture the attention of your visitors and maximize their experience.</p>
          <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5978691">video recording</a></p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "kevin-hale.jpg" | asset_url }}" alt="Kevin Hale">
      <img src="{{ "kevin-hale.png" | asset_url }}" alt="Kevin Hale">

      <h4>Kevin Hale</h4>
      <ul>
        <li>
          <p>Kevin Hale is the Co-founder of Infinity Box Inc, a Y Combinator seeded company. He is responsible for safe guarding and designing the user experience of their online HTML form builder, Wufoo. Kevin writes about interface design issues for the web development blog, Particletree and served as Editor-in-Chief of the web development magazine, Treehouse. As a child, Kevin was the kid in class who who ate a box of crayons for a dollar.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/ilikevests">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @ilikevests
          </a>
        </li>
        <li>
          <h5>How to Design Web Apps People Love</h5>
          <p>As part of the Wufoo team, Kevin Hale is no stranger to creating wonderful
web apps. In his presentation, Kevin will be showing how to focus on user
interaction in order to create an experience that users will love.</p>
          <p><i aria-role="hidden" data-icon="&#x76;"></i> Nate Croft's <a href="http://vimeo.com/5979384">video recording</a></p>
        </li>
      </ul>

    </article>

  </div>

  <h2 class="fit-08">Sponsors</h2>
  
  <ul class="sponsor-list inner">
    <li>
      <a href="http://wufoo.com" class="logo-wufoo">
      </a>
      <p>
        <a href="http://wufoo.com">Wufoo</a> 
        - Wufoo was our primary supporting sponsor and really made a difference in us being able to run the event again. They make forms easy + fast + fun.
      </p>
    </li>
    <li>
      <a href="http://lessaccounting.com" class="logo-lessaccounting">
      </a>
      <p>
        <a href="http://lessaccounting.com">LessAccounting</a> 
        - Small business accounting software
      </p>
    </li>
    <li>
      <a href="http://shopify.com" class="logo-shopify">
      </a>
      <p>
        <a href="http://shopify.com">Shopify</a> 
        - Simple, beautiful and flexible ecommerce solution
      </p>
    </li>
    <li>
      <a href="http://pixelmator.com" class="logo-pixelmator">
      </a>
      <p>
        <a href="http://pixelmator.com">Pixelmator</a>
        - Powerful image editing app or OS X
      </p>
    </li>
    <li>
      <a href="http://expressionengine.com" class="logo-expressionengine">
      </a>
      <p>
        <a href="http://expressionengine.com">ExpressionEngine</a>
        - Professional content management system
      </p>
    </li>
    <li>
      <a href="http://grooveshark.com" class="logo-grooveshark">
      </a>
      <p>
        <a href="http://grooveshark.com">Grooveshark</a>
        - Listen to free music online
      </p>
    </li>
    <li>
      <a href="http://fuelbrandnetwork.com" class="logo-fuel">
      </a> 
      <p>
        <a href="http://fuelbrandnetwork.com">FUEL Brand Network</a>
        - Editorial sites dedicated to creative development
    </li>
  </ul>

  <aside class="inner">

    <h3>The First Event in 2009</h3>   

    <div class="block-to-one-third center-to-left">
      <img src="{{ "front-end-dan.svg" | asset_url }}" alt="Front-End Dan" class="dan">
    </div>

    <div class="block-to-two-thirds"> 
      <p>Everyone remembers their first time: Lots of anticipation, getting flustered and it being over very quickly. So, I'll never forget my first time introducing Front-End on stage. This event was so cool because it proved that we (my wife and I) could do it. The entire event was coordinated and marketed via Twitter, including the initial speaker invitations. It went really well and Eric Azares assured that there would be more by offering to buy a ticket to next year's as the day wrapped up. That felt awesome.</p>
      
      <p>The speakers made the day. They each rocked in their own way and were completely approachable. They set the tone for everything that I wanted Front-End Conf to be.</p>

      <p><small>- Dan</small></p>
    </div>

  </aside>

{% endblock %}