{% block content %}


	<h1 class="fit-07">2010</h1> 

  <div class="video-wrapper">

    <div class="inner">

      <img src="{{ "/images/photos/2010.jpg" | asset_url }}" alt="2010" width="800">

    </div>
    
  </div>   

  <h2 class="fit-08">Speakers</h2>

  <div class="center-group inner">

    <article class="past-speaker">

      <img src="{{ "larissa-meek.jpg" | asset_url }}" alt="Larissa Meek">

      <img src="{{ "larissa-meek.png" | asset_url }}" alt="Larissa Meek" class="character">

      <h4>Larissa Meek</h4>
      <h5>Learning to Love Ideas: Brainstorming 101</h5>
      <ul>
        <li>
          <p>Larissa has over 9 years of experience of designing for the web and is a standards enthusiast who is well versed in design trends, usability, CSS and HTML. She has worked on a multitude of diverse brands such as Oxygen Networks, Bacardi, Ruby Tuesday, MOJOHD, Howard Stern and Warner Brothers...</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/larissameek">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @larissameek
          </a>
        </li>
        <li>
          <a href="presentations/better-design-through-discovery">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides on Slideshare
          </a>
        </li>
      </ul>
    </article>

    <article class="past-speaker">

      <img src="{{ "lea-alcantara.jpg" | asset_url }}" alt="Lea Alcantara">
      <img src="{{ "lea-alcantara.png" | asset_url }}" alt="Lea Alcantara">

      <h4>Lea Alcantara</h4>
      <h5>The Art of Self-Branding</h5>

      <ul>
        <li>
          <p>Lea Alcantara is often hired to kill bad design, with her weapon of choice, ExpressionEngine. She has been an active part of the web, designing and developing for 10 years, and through her efforts, has been considered (on blog list posts) one of the best women designers in the world and an amazing female role model for web designers.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/lealea">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @lealea
          </a>
        </li>
        <li>
          <a href="https://speakerdeck.com/lealea/art-of-self-branding">
            <i aria-role="hidden" data-icon="&#x6c;"></i>
            Slides on Speaker Deck
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">
      
      <img src="{{ "niki-brown.jpg" | asset_url }}" alt="Niki Brown">
      <img src="{{ "niki-brown.png" | asset_url }}" alt="Niki Brown">

      <h4>Niki Brown</h4>
      <h5>Design is in the Details</h5>
      <ul>
        <li>
          <p>Niki has been designing since she was a little kid - drawing cartoons, making fake newspapers, and planning her plot to take over the world. (Just kidding). Her early interests in design were heightened when she got her first computer, it was love at first sight! She made her first website in 1996, with the help of geocities and word-art. Now the rest is history. Fast forward to today - she's all grown up with a nifty degree that says she knows what she's doing.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/nikibrown">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @nikibrown
          </a>
        </li>
        <li>
          <a href="http://www.slideshare.net/nworbikin/design-is-in-the-big-picture-teensy-tiny-details">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides on Slideshare
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "meagan-fisher.jpg" | asset_url }}" alt="Meagan Fisher">
      <img src="{{ "meagan-fisher.png" | asset_url }}" alt="Meagan Fisher">

      <h4>Meagan Fisher</h4>
      <h5>How to Take Your Designs from Wireframes to Beautiful Finished Products</h5>
      <ul>
        <li>
          <p>Meagan Fisher is a web designer who works through the night to create simple interfaces and well-written markup. When not conspiring with SimpleBits to take over the world, she creates web magic with her own clients. Along the way she has worked with Rails Machine, Halogen Guides, Airbag Industries, Change.org, and MTV.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/owltastic">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @owltastic
          </a>
        </li>
        <li>
          <p>We were very sorry that Meagan wasn't feeling well during the conference. She was able to give a very similar talk later in the year. So, check it out from <a href="http://vimeo.com/17091814">Build on Vimeo</a>.</p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "jina-bolton.jpg" | asset_url }}" alt="Jina Bolton">
      <img src="{{ "jina-bolton.png" | asset_url }}" alt="Jina Bolton">

      <h4>Jina Bolton</h4>
      <h5>CSS Organization and Workflow</h5>
      <ul>
        <li>
          <p>Jina is an interaction designer at Crush + Lovely. Previously, Jina worked at Apple, Inc. as a visual interaction designer and front end web developer. She enjoys making pretty websites, and then she likes writing and speaking about it. Jina co-authored Fancy Form Design and The Art &amp; Science of CSS; she also was an expert reviewer and wrote the foreword for Sexy Web Design.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/jina">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @jina
          </a>
        </li>
        <li>
          <p>Jina's slides are no longer online, but you can see her give a similar talk at <a href="http://vimeo.com/15982903">Fronteers on Vimeo</a>.</p>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "sarah-parmenter.jpg" | asset_url }}" alt="Sarah Parmenter">
      <img src="{{ "sarah-parmenter.svg" | asset_url }}" alt="Sarah Parmenter">

      <h4>Sarah Parmenter</h4>
      <h5>Principles of UI Design</h5>
      <ul>
        <li>
          <p>Sarah was brought up on computers from an early age and always knew her career would be in IT. The story of exactly how she came to be a web designer is a long-winded one, and quite surreal, but in 2003 she took the plunge and started her own business, and hasn't looked back since.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/sazzy">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @sazzy
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "adelle-charles.jpg" | asset_url }}" alt="Adelle Charles">
      <img src="{{ "adelle-charles.png" | asset_url }}" alt="Adelle Charles">

      <h4>Adelle Charles</h4>
      <h5>Fuel Your Brand</h5>
      <ul>
        <li>
          <p>As Chief Creative Officer, Adelle oversees the creative and strategic direction of Fuel Brand, Inc., which she co-founded with her partner Joshua Smibert. A designer and entrepreneur at heart, Adelle has a Bachelor of Fine Arts degree in Graphic Design from RIT and has won various awards for her past work in television.</p>
        </li>
        <li>
          <a href="https://twitter.com/#!/adellecharles">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @adellecharles
          </a>
        </li>
      </ul>

    </article>

  </div>

  <h2 class="fit-08">Sponsors</h2>
  
  <ul class="sponsor-list inner">
    <li>
      <a href="http://wufoo.com" class="logo-wufoo">
      </a>
      <p>
        <a href="http://wufoo.com">Wufoo</a> 
        - Making forms easy + fast + fun.
      </p>
    </li>
    <li>
      <a href="http://freshbooks.com" class="logo-freshbooks">
      </a>
      <p>
        <a href="http://freshbooks.com">Freshbooks</a> 
        - The Leader in Online Invoicing
      </p>
    </li>
    <li>
      <a href="http://thinkrelevance.com" class="logo-doctype-tv">
      </a>
      <p>
        <a href="http://thinkrelevance.com">Relevance</a> 
        - We Know Software
      </p>
    </li>
    <li>
      <a href="http://carbonads.com" class="logo-grooveshark">
      </a>
      <p>
        <a href="http://carbonads.com">Carbon Ads</a>
        - Single, relevant ad that appeals to visitors of websites with common influence
      </p>
    </li>
    <li>
      <a href="http://fuelbrandnetwork.com" class="logo-fuel">
      </a> 
      <p>
        <a href="http://fuelbrandnetwork.com">FUEL Brand Network</a>
        - Editorial sites dedicated to creative development
    </li>
  </ul>

  <aside class="inner">

    <h3>Our Second Event, in 2010</h3>

    <div class="block-to-one-third center-to-left">
      <img src="{{ "front-end-dan.svg" | asset_url }}" alt="Front-End Dan" class="dan">
    </div>

    <div class="block-to-two-thirds">
      <p>In 2010, we wanted to do something different. In between events, there had been these 2 posts (<a href="http://www.fuelyourinterface.com/10-interface-rockstars-you-should-know-about/">here</a> and <a href="http://www.fuelyourinterface.com/ten-women-you-need-to-know-in-interface-design">here</a>) where some issues were brought up in our community. So, we decided to run our same event but invite only amazing ladies in the community. It could only work well if we never brought it up. I think we pulled it off and we were only one fish sandwich away from perfection.</p>
        
      <p>Again, the speakers made the day, continuing in the new #frontendconf tradition of delivering awesome presentations and being very approachable. I owe a special thank you to <a href="https://twitter.com/denisejacobs">Denise Jacobs</a> for stepping up and sharing as well.</p>

      <p><small>- Dan</small></p>
    </div>

  </aside>

{% endblock %}