{% block content %}


	<h1 class="fit-07">2011</h1> 

  <div class="video-wrapper">

    <div class="inner">

      <iframe src="http://player.vimeo.com/video/27638526?title=0&amp;byline=0&amp;portrait=0" width="280" height="158" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    </div>
    
  </div>   

  <h2 class="fit-08">Speakers</h2>

  <div class="center-group inner">

    <article class="past-speaker">

      <img src="{{ "james-may.jpg" | asset_url }}" alt="James May">

      <img src="{{ "james-may.svg" | asset_url }}" alt="James May" class="character">

      <h4>James May</h4>
      <h5>Better Design Through Discovery</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/monooptical">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @monooptical
          </a>
        </li>
        <li>
          <a href="/presentations/better-design-through-discovery">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/better-design-through-discovery#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>
    </article>

    <article class="past-speaker">

      <img src="{{ "stephanie-fields.jpg" | asset_url }}" alt="Stephanie Fields">
      <img src="{{ "stephanie-fields.svg" | asset_url }}" alt="Stephanie Fields">

      <h4>Stephanie Fields</h4>
      <h5>Better Design Through Discovery</h5>

      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/lilsooner">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @lilsooner
          </a>
        </li>
        <li>
          <a href="/presentations/better-design-through-discovery">           
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/better-design-through-discovery">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">
      
      <img src="{{ "ryan-singer.jpg" | asset_url }}" alt="Ryan Singer">
      <img src="{{ "ryan-singer.svg" | asset_url }}" alt="Ryan Singer">

      <h4>Ryan Singer</h4>
      <h5>UI Design Decisions</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/rjs">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @rjs
          </a>
        </li>
        <li>
          <a href="/presentations/ui-design-decisions">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/ui-design-decisions#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "doug-neiner.jpg" | asset_url }}" alt="Doug Neiner">
      <img src="{{ "doug-neiner.svg" | asset_url }}" alt="Doug Neiner">

      <h4>Doug Neiner</h4>
      <h5>jQuery Nuts, Bolts and Bling</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/dougneiner">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @dougneiner
          </a>
        </li>
        <li>
          <a href="/presentations/jquery-nuts-bolts-and-bling">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/jquery-nuts-bolts-and-bling#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "ethan-marcotte.jpg" | asset_url }}" alt="Ethan Marcotte">
      <img src="{{ "ethan-marcotte.svg" | asset_url }}" alt="Ethan Marcotte">

      <h4>Ethan Marcotte</h4>
      <h5>Responsive Web Design</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/beep">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @beep
          </a>
        </li>
        <li>
          <a href="/presentations/responsive-web-design#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "brandon-jones.jpg" | asset_url }}" alt="Brandon Jones">
      <img src="{{ "brandon-jones.svg" | asset_url }}" alt="Brandon Jones">

      <h4>Brandon Jones</h4>
      <h5>Flexible Media in Responsive Web Design</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/makedesign">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @makedesign
          </a>
        </li>
        <li>
          <a href="/presentations/making-money-with-web-design">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/making-money-with-web-design#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "chris-coyier.jpg" | asset_url }}" alt="Chris Coyier">
      <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier">

      <h4>Chris Coyier</h4>
      <h5>CSS Pseudo Elements for Fun and Profit</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/chriscoyier">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @chriscoyier
          </a>
        </li>
        <li>
          <a href="/presentations/css-pseudo-elements-for-fun-and-profit">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="/presentations/css-pseudo-elements-for-fun-and-profit#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

    <article class="past-speaker">

      <img src="{{ "allison-house.jpg" | asset_url }}" alt="Allison House">
      <img src="{{ "allison-house.svg" | asset_url }}" alt="Allison House">

      <h4>Allison House</h4>
      <h5>Web Typography and the Case of the Voluptuous Curl</h5>
      <ul class="block-to-inline">
        <li>
          <a href="https://twitter.com/#!/house">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
            @house
          </a>
        </li>
        <li>
          <a href="{{ "presentations/web-typography" | link_page }}">
            <i aria-role="hidden" data-icon="&#x6c;"></i> 
            Slides
          </a>
        </li>
        <li>
          <a href="{{ "presentations/web-typography" | link_page }}#feedback">
            <i aria-role="hidden" data-icon="&#x6b;"></i>
            Feedback
          </a>
        </li>
      </ul>

    </article>

  </div>

  <h2 class="fit-08">Sponsors</h2>
  
  <ul class="sponsor-list inner">
    <li>
      <a href="http://freshbooks.com" class="logo-freshbooks">
      </a>
      <p>
        <a href="http://freshbooks.com">Freshbooks</a> 
        - The Leader in Online Invoicing
      </p>
    </li>
    <li>
      <a href="http://thinkrelevance.com" class="logo-relevance">
      </a>
      <p>
        <a href="http://thinkrelevance.com">Relevance</a> 
        - We Know Software
      </p>
    </li>
    <li>
      <a href="http://carbonads.com" class="logo-carbon">
      </a>
      <p>
        <a href="http://carbonads.com">Carbon Ads</a>
        - Single, relevant ad that appeals to visitors of websites with common influence
      </p>
    </li>
    <li>
      <a href="http://threadbird.com" class="logo-threadbird">
      </a> 
      <p>
        <a href="http://threadbird.com">Threadbird</a>
        - Quality Screen Printing
    </li>
    <li>
      <a href="http://stickermule.com" class="logo-stickermule">
      </a> 
      <p>
        <a href="http://stickermule.com">Stickermule</a>
        - Custom stickers that kick ass
      </p>
    </li>
    <li>
      <a href="http://custombagshq.com" class="logo-custom-bags-hq">
      </a>
      <p>
        <a href="http://custombagshq.com">CustomBags HQ</a> 
        - Custom Printed Bags
      </p>
    </li>
    <li>
      <a href="http://javifick.com" class="logo-javi-fick">
      </a>
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
    <li>
      <a href="http://lessaccounting.com" class="logo-lessaccounting">
      </a>
      <p>
        <a href="http://lessaccounting.com">LessAccounting</a> 
        - Small business accounting software from Less Everything
      </p>
    </li>
    <li>
      <a href="http://lessfilms.com" class="logo-less-films">
      </a>
      <p>
        <a href="http://lessfilms.com">Less Films</a> 
        - Ridiculously good at crafting videos that increase sales
      </p>
    </li>
  </ul>

  <aside class="inner">

    <h3>The Third Time Was a Charm</h3>

    <div class="block-to-one-third center-to-left">
      <img src="{{ "/images/front-end-dan.svg" | asset_url }}" alt="Front-End Dan" class="dan">
    </div>

    <div class="block-to-two-thirds">
      <p>We learned so much in the first 2 years and made enough friends that the third year really took off. We have always intended for this to be a small event, so we had set a 200 ticket cap. We were very fortunate to sell out a month early, which freed us up to focus on making the day special instead of promoting. The results were fantastic and we found a wonderful new location.</p>
    
      <p>The speakers rocked the day, continuing in the #frontendconf tradition of delivering awesome presentations and being very approachable. We also focused a lot more on being approachable ourselves because we had so much less stress with being sold out. The Day 2 presentations were really good as well and we even had a small contest for another character.</p>

      <p><small>- Dan</small></p>
    </div>

  </aside>

{% endblock %}