{% block content %}

  <div class="year-2013">

    <ul class="list-inline">
      <li class="video--rotator">
        <a href="https://vimeo.com/72482529">
          <img src="{{ "matt-graham.svg" | asset_url }}" alt="Matt Graham">
          <h5>Matt Graham</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72548908">
          <img src="{{ "michael-parenteau.svg" | asset_url }}" alt="Michael Parenteau">
          <h5>Michael Parenteau</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72548910">
          <img src="{{ "jenn-lukas.svg" | asset_url }}" alt="Jenn Lukas">
          <h5>Jenn Lukas</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72590390">
          <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier">
          <h5>Chris Coyier</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72590389">
          <img src="{{ "ben-callahan.svg" | asset_url }}" alt="Ben Callahan">
          <h5>Ben Callahan</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72621890">
          <img src="{{ "doug-neiner.svg" | asset_url }}" alt="Doug Neiner">
          <h5>Doug Neiner</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72728807">
          <img src="{{ "cameron-moll.svg" | asset_url }}" alt="Cameron Moll">
          <h5>Cameron Moll</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
      <li class="video--rotator">
        <a href="https://vimeo.com/72548909">
          <img src="{{ "logo-shoptalk.png" | asset_url }}" alt="ShopTalk Show">
          <h5>ShopTalk Show</h5>
          <i aria-role="hidden" data-icon="&#x76;"></i>
        </a>
      </li>
    </ul>

  </div>

{% endblock %}