{% layout "current" %}

{% block content %}

  <section class="portland-stage">

    <h1 class="portland-header">Front-End Finale!</h1>

    <div class="grid portland-characters">

      <img alt="Daniel Ryan" src="{{ "daniel-ryan-2.svg" | asset_url }}" class="portland-character" />
      <img alt="Rachel Smith" src="{{ "rachel-smith-2.svg" | asset_url }}" class="portland-character" />
      <img alt="Ben Callahan" src="{{ "ben-callahan.svg" | asset_url }}" class="portland-character" />
      <img alt="Question" src="{{ "front-end-dan.svg" | asset_url }}" class="portland-character" />
      <img alt="Bermon Painter" src="{{ "bermon-painter.svg" | asset_url }}" class="portland-character" />
      <img alt="Chris Coyier" src="{{ "chris-coyier.svg" | asset_url }}" class="portland-character" />
      <img alt="Jason VanLue" src="{{ "jason-vanlue.svg" | asset_url }}" class="portland-character" />

    </div>

  </section>

  <section class="saturday cell--b">

    <h2>Saturday Events</h2>

    <ul>
      <li class="mtl">
        <h4>10am-12pm</h4>Saturday Morning Market
        <p>Let's hang out and enjoy the offerings of the local community.</p>
        <a href="https://www.google.com/maps/preview?ll=45.522489,-122.669734&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=6771846169323495190">2 SW Naito Parkway, Portland, OR 97204</a></li>
      <li class="bdrt mtl ptl">
        <h4>12pm-2pm</h4>Lettering Jam Session at Bailey's Tap Room
        <p>Want to jam on some lettering? We're going to get some supplies and meet up for a couple hours. Nathan Yoder aka <a href="https://twitter.com/NathanYoder">@NathanYoder</a>, will be hanging out too.</p>
        <a href="https://www.google.com/maps/place/Bailey's+Taproom/@45.522529,-122.678072,17z/data=!3m1!4b1!4m2!3m1!1s0x54950a0157dd123d:0xd40f8d6a084d1937">213 SW Broadway
Portland, OR 97205</a>
      </li>
      <li class="bdrt mtl ptl">
        <h4>2:30pm - ?</h4>
        <p>Marquam Nature Park Hike

        Starts at the Marquam Nature Park Shelter Trailhead
        3.3 mile out and back to the summit of Mount Crest where you can overlook the city.
      </p>

      <a href="https://www.google.com/maps/place/Marquam+Nature+Park/@45.4940298,-122.691514,14z/data=!3m1!4b1!4m2!3m1!1s0x54950a4ee2682a43:0x31c35776141af65d">SW Marquam St Portland, OR 97201</a>


      </li>
      <li class="bdrt mtl ptl">
        <h4>Dinner and drinks?</h4>
        <p>No direct plans after the hike, so please tweet us if you have something going on. We'll tweet out wherever we end up.</p>
      </li>
    </ul>

  </section>

    <!-- <div class="cell--b">

      <article class="explanation js-expand-target">

        <p>My wife Cherrie and I have been running the Front-End Design Conference since 2009. All of the prior events have been in St. Petersburg, Florida, but we're running this next one in Portland on August 22nd.</p>

        <p>The original point of the conference was to give back to the community. I had been learning so much from people who shared online and I knew that it would be quite a while before I could give back in a technical way. I thought that I could give back by organizing a day for people to learn, share, and have some fun. It has gone very well in St. Pete, but we're struggling with Portland.</p>

        <p>The good news is that we have a fantastic location (the Gerding Theater at the Armory) and 7 awesome speakers, who will be covering a wide range of front-end design and dev topics. What we're missing is a big group of like-minded people to celebrate with.</p>

        <p>Running an event comes with risk, both financially and socially. At this point, the conf will run very deep in the red but there is something more important than that. The speakers agreed to spend their time preparing a talk and a few people have registered assumedly hoping to get to spend the day with them and some other great people.</p>

        <p>We can deal with the financial loss because I can always work more and make up the money. What we can't risk is the chance of disappointing our friends who are speaking and the people who have registered. I don't know what it is that has prevented registrations so far. It could be the dates, lack of promotion on my part, the price, etc. What I can change is the price and the amount of promotion. So, as the conf's final gift back to the community, we're making the event donation only. Pay whatever you think it's worth or that you can afford and come out to spend the day with us in Portland.</p>

        <p>If you can't make it out, would you please do me one favor and share this? I'd really appreciate it and I bet anyone who comes out will too.</p>

        <p>Thank you, <br />Dan Denney</p>

      </article>

    </div> -->

  <!-- </section> -->

  <h2 class="tac mtl ptl">Thank you, MailChimp!</h2>

  <section class="pbl ptl sponsor-mailchimp tac">

    <a class="dib mtl" href="http://mailchimp.com"><img src="{{ "mailchimp-white.svg" | asset_url }}" width="300" /></a>

    <p class="mbl mtf tci">Send Better Email</p>

  </section>

  <!-- <section class="portland-details pbl ptl">

    <div class="cell">

      <div class="card">

        <h2 class="tac">Portland, Aug 22 - 23</h2>

        <p>Our first event in Portland is also our last time running the Front-End Design Conference. We hope to meet many of the awesome members of the Portland community that we have heard so much about.</p>

        <div class="holy-shit-pay-attention-to-me pam tac mbm">

          <p>Conference rate for the Portland Marriott City Center is $189/night. The online link expired but you can still get the rate by calling 1-503-226-6300 and telling that you're with the conference.</p>

        </div>

        <div class="grid">

          <div class="grid-box grid-box--tablet--1of2 tac">

            <h3>Conference</h3>

            <p>Aug 22, 9:30am - 5:30pm, 7 Presentations</p>

            <p class="mbs"><img src="{{ "gerding-interior.jpg" | asset_url }}" /></p>

            <p><strong>Gerding Theater at the Armory</strong><br />
                128 NW Eleventh Avenue, Portland, Oregon 97209</p>

          </div>

          <div class="grid-box grid-box--tablet--1of2">

            <h3 class="tac">Meetups</h3>

            <p class="tac">Aug 23, All day</p>

            <p>While learning from the presentations is the focus of conferences, the conversations outside of them are often the best part of the event. They are what lead to friendships, work opportunities, and collaboration.</p>

            <p>Rather than have a second day of presentations, we're hoping to get people from the event together to explore Portland and hang out.</p>

            <p>Details aren't finalized, but we're lining up some creative jam sessions, some hiking/outdoorsy fun, and times for talking shop over the amazing food and drinks in Portland.</p>

          </div>

        </div>

        <p class="tac"><a href="https://ti.to/dandenney/front-end-conf-portland" class="btn tsxl">Register Now</a></p>

      </div>

    </div>

  </section> -->

  <!-- <section>

    <div class="cell--f pbl ptl video-wrapper">

      <p class="tac">Want to know what the vibe is like? See what went down in St. Pete in July!</p>

      <iframe src="//player.vimeo.com/video/101293183?title=0&amp;byline=0&amp;portrait=0&amp;color=b51f24" width="280" height="158" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>

    <div class="cell--f">

      <h3>Some really nice things people have shared...</h3>

      <div class="grid">

        <div class="grid-box grid-box--tablet--1of2">

          <blockquote class="twitter-tweet" lang="en"><p>I had some of the most enlightening conversations of my life at <a href="https://twitter.com/frontendconf">@frontendconf</a>. And the kinship helped so much right after I graduated.</p>&mdash; Olivier Lacan (@olivierlacan) <a href="https://twitter.com/olivierlacan/statuses/488039051531149314">July 12, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <blockquote class="twitter-tweet" lang="en"><p>Feels like I&#39;m leaving some sort of summer camp. I love everyone here <a href="https://twitter.com/frontendconf">@frontendconf</a>. Don&#39;t you forget about me. <a href="http://t.co/SZGQ4uE3iM">http://t.co/SZGQ4uE3iM</a></p>&mdash; Brad Miller (@imbradmiller) <a href="https://twitter.com/imbradmiller/statuses/488310883181793281">July 13, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>

      </div>

      <p class="mtl tac">You can also see what people shared (while Twitter still has them available) on <a href="https://tagboard.com/frontendconf">tagboard</a>.

    </div>

  </section>

  <section class="ptxl">

    <h2 class="mbf tac">Speakers and Schedule</h2>
    <p class="tac">August 22</p>

    <div class="cell--f oh mtm">

      <div class="grid">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">
            <p class="mbs mtf tcs">8:30am - 9:30am</p>
            <p class="mbf tsl">Registration and Breakfast</p>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">
            <p class="mbs mtf tcs">9:30am - 9:40am</p>
            <p class="mbf tsl">Intro</p>
          </div>

        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">

            <p class="mbs mtf tcs">9:40am - 10:30am</p>
            <p class="tsl">Human First Web Design</p>

            <img class="fl lazy person--image" data-original="{{ "daniel-ryan.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Daniel Ryan</p>
                </li>
              <li class="person--title mbf">Web Developer &amp; Consultant</li>
              <li class="person--company">WayPaver</li>
              <li class="person--socials">

                  <a href="https://twitter.com/dryan"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="https://codepen.io/dryan">{% include "codepen" %}</a>
                  <a href="http://dryan.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">

            <p class="mbs mtf tcs">10:30am - 11:20am</p>
            <p class="tsl">Animating the web in a post-Flash world</p>

            <img class="fl lazy person--image" data-original="{{ "rachel-smith.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Rachel Smith</p>
                </li>
              <li class="person--title mbf">Front-End Dev</li>
              <li class="person--company">Active Theory</li>
              <li class="person--socials">

                <a href="https://twitter.com/rachsmithtweets"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/rachsmith">{% include "codepen" %}</a>
                <a href="http://rachsmith.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>20 Minute Break</h3>
          <p class="mbf">11:20am - 11:40am</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">

            <p class="mbs mtf tcs">11:40am - 12:30pm</p>
            <p class="tsl">Small Screen Nav</p>

            <img class="fl lazy person--image" data-original="{{ "ben-callahan.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Ben Callahan</p>
                </li>
              <li class="person--title mbf">President</li>
              <li class="person--company">Sparkbox</li>
              <li class="person--socials">

                <a href="https://twitter.com/bencallahan"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/bencallahan">{% include "codepen" %}</a>
                <a href="http://bencallahan.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>


          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">

            <p class="mbs mtf tcs">12:30pm - 1:20pm</p>
            <p class="tsl">Fostering Collaboration with Pattern Libraries and Rapid Prototyping</p>

            <img class="fl lazy person--image" data-original="{{ "bermon-painter.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Bermon Painter</p>
                </li>
              <li class="person--title mbf">Design/Developer Hybrid</li>
              <li class="person--company">Founder of Blend Conf</li>
              <li class="person--socials">

                <a href="https://twitter.com/bermonpainter"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/bpainter">{% include "codepen" %}</a>
                <a href="http://bermonpainter.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>Lunch</h3>
          <p class="mbf">1:20pm - 2:50pm</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2 mhci">

          <div class="card--a oh">

            <p class="mbs mtf tcs">2:50pm - 3:40pm</p>
            <p class="tsl">SVG is for Everybody</p>

            <img class="fl lazy person--image" data-original="{{ "chris-coyier.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Chris Coyier</p>
                </li>
              <li class="person--title mbf">Designer, Writer, Podcaster</li>
              <li class="person--company">CodePen, CSS-Tricks, ShopTalk</li>
              <li class="person--socials">

                <a href="https://twitter.com/chriscoyier"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/chriscoyier">{% include "codepen" %}</a>

                <a href="http://codepen.io"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>20 Minute Break</h3>
          <p class="mbf">3:40pm - 4:00pm</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">
            <p class="mbs mtf tcs">4:00pm - 4:40pm</p>
            <p class="tsl">Contextually Aware Web Design</p>

            <img class="fl lazy person--image" data-original="{{ "matthew-carver.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Matthew Carver</p>
                </li>
              <li class="person--title mbf">Author of <a href="http://manning.com/carver">The Responsive Web</a>.</li>
              <li class="person--socials">

                <a href="https://twitter.com/matthew_carver"><i aria-role="hidden" data-icon="t"></i></a>


              </li>

            </ol>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">
            <p class="mbs mtf tcs">4:40pm - 5:30pm</p>
            <p class="tsl">A Study In Pixels:
Design, the World, and the Other Side of the Screen</p>

            <img class="fl lazy person--image" data-original="{{ "jason-vanlue.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Jason VanLue</p>
                </li>
              <li class="person--title mbf">Executive Director</li>
              <li class="person--company">Envy Labs</li>
              <li class="person--socials">

                <a href="https://twitter.com/jasonvanlue"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="http://jasonvanlue.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

    </div>

  </section> -->

  <!-- <section class="ptxl">

    <div class="cell--f">

      <h2 class="tac">Meetups</h2>

      <p>The purpose behind this second day is to get like-minded people spending some time with each other. Confs are a great time for meeting new people and Portland is a wonderful city to enjoy together. We're hoping for something like these super kind words from Angela Trego Crist:</p>

      <div class="cell--b mbl tac">
        <blockquote class="twitter-tweet" lang="en"><p>Oh <a href="https://twitter.com/hashtag/frontendconf?src=hash">#frontendconf</a> Dan definitely created more than a conf. He created life changes, friendships, opportunity, and more. Thank you <a href="https://twitter.com/dandenney">@dandenney</a></p>&mdash; Angela Trego Crist (@ajtrego) <a href="https://twitter.com/ajtrego/statuses/487961060797083648">July 12, 2014</a></blockquote> -->




  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f8d4196eb22a54"></script>

{% endblock %}

{% block scripts %}

  {{ "lazyload.js" | asset_url | script_tag }}

  <script>

    $("img.lazy").lazyload({
      effect: "fadeIn"
    });

    $(".js-expand-trigger").click(function(e) {
      e.preventDefault();
      $(this).toggleClass("is-visible");
      $(".js-expand-target").toggleClass("is-visible");
    });



  </script>




{% endblock %}
