{% block content %}

  <ol class="home-attending">

    {% for attendee in attendees reversed %}
      
      {% if attendee.avatar != '' %}
        <li class="home-attendee">
          <img src="{{ attendee.avatar }}" /> 
          <ol class="home-attendee-info">
            <li>{{ attendee.firstName }} {{ attendee.lastName }}</li>
            <li>
              {% if attendee.title != '' %}
                {{ attendee.title }} 
              {% endif %}
            </li>
            <li>
              {% if attendee.title != '' %}
                {{ attendee.company }}
              {% endif %}
            </li>
            {% if attendee.twitter != '' %}
              <li class="attendee-twitter">
                <a href="https://twitter.com/{{ attendee.twitter }}"><i aria-role="hidden" data-icon="&#x74;"></i></a>
              </li>
            {% endif %}

            {% if attendee.github != '' %}
              <li class="attendee-github">
                <a href="https://github.com/{{ attendee.github }}"><i aria-role="hidden" data-icon="&#x75;"></i></a>
              </li>
            {% endif %}

            {% if attendee.dribbble != '' %}
              <li class="attendee-dribbble">
                <a href="http://dribbble.com/{{ attendee.dribbble }}"><i aria-role="hidden" data-icon="&#x64;"></i></a>
              </li>
            {% endif %}

            {% if attendee.codepen != '' %}
              <li class="attendee-codepen">
                <a href="http://www.codepen.io/{{ attendee.codepen }}"><i><img src="{{ "codepen.svg" | asset_url }}" height="18" width="20" /></i></a></li>
            {% endif %}

            {% if attendee.website != '' %}
              <li class="attendee-website">
                <a href="{{ attendee.website }}"><i aria-role="hidden" data-icon="&#x62;"></i></a>
              </li>
            {% endif %}
          </ol>
        </li>
      {% endif %}
    
    {% endfor %}

    {% for attendee in attendees reversed %}

      {% if attendee.avatar == '' %}
        <li class="home-attendee">
          <img src="{{'images/missing.png' | asset_url }}" />
        </li>
      {% endif %}

    {% endfor %}

  </ol>

{% endblock %}