{% layout "current" %}

{% block content %}

  <section class="home--intro">

      <div class="cell--a tac home--locations">

        <p class="location--intro tal">Front-End Conf is an event to celebrate the wonderful people in our industry and to share knowledge. This year, we will be celebrating in 2 cities.</p>

        <div class="tal">

          <div class="grid">

            <article class="grid-box grid-box--tablet--1of2 fr location--stpete tac">
              <h2>St. Petersburg, FL</h2>
              <p>Workshop: <strong>July 10</strong>, Conf: <strong>July 11-12</strong></p>
              <p class="pbl tac">
                <a class="btn" href="/st-pete">Details</a>
              </p>

              <h4 class="mtll">Thank you to our sponsors!</h4>

              <div class="tac">
                <a href="http://theironyard.com" class="dib"><img src="{{ "iron-yard.svg" | asset_url }}" width="80" /></a>

                <a class="dib mlm" href="http://mailchimp.com" class="mll"><img src="{{ "mailchimp.svg" | asset_url }}" width="200" /></a>

                <a class="dib mlm" href="http://threadbird.com" class="mll"><img src="{{ "threadbird.svg" | asset_url }}" width="140" /></a>

              </div>

            </article>

            <article class="grid-box grid-box--tablet--1of2 location--portland tac">
              <h2>Portland, OR</h2>
              <p>Workshop: <strong>August 21</strong>, Conf: <strong>August 22</strong><br />Meetups: August 23</p>
              <p class="tac">
                <a class="btn" href="/portland">Details</a>
              </p>
            </article>

          </div>

        </div>

      </div>

      <div class="home-characters">

        <div class="cell--c">

          <div class="grid">

            <img alt="Daniel Ryan" src="{{ "daniel-ryan.svg" | asset_url }}" class="home-character" />
            <img alt="Rachel Smith" src="{{ "rachel-smith.svg" | asset_url }}" class="home-character"  />
            <img alt="Drew Barontini" src="{{ "drew-barontini.svg" | asset_url }}" class="home-character"  />
            <img alt="Andi Graham" src="{{ "andi-graham.svg" | asset_url }}" class="home-character"  />
            <img alt="Elyse Holladay" src="{{ "elyse-holladay.svg" | asset_url }}" class="home-character"  />
            <img alt="Kevin Mandeville" src="{{ "kevin-mandeville.svg" | asset_url }}" class="home-character"  />
            <img alt="Noah Stokes" src="{{ "noah-stokes.svg" | asset_url }}" class="home-character"  />

          </div>

        </div>

      </div>

  </section>

{% endblock %}

{% block scripts %}

  <script>

    var photoBooth = new Konami('http://frontenddesignconference.com/konami');

  </script>

{% endblock %}
