{% layout "current" %}

{% block content %}

  <section class="portland-stage">

    <h1 class="portland-header">Front-End Finale!</h1>

    <div class="grid portland-characters">

      <img alt="Daniel Ryan" src="{{ "daniel-ryan-2.svg" | asset_url }}" class="portland-character" />
      <img alt="Rachel Smith" src="{{ "rachel-smith-2.svg" | asset_url }}" class="portland-character" />
      <img alt="Ben Callahan" src="{{ "ben-callahan.svg" | asset_url }}" class="portland-character" />
      <img alt="Bermon Painter" src="{{ "bermon-painter.svg" | asset_url }}" class="portland-character" />
      <img alt="Chris Coyier" src="{{ "chris-coyier.svg" | asset_url }}" class="portland-character" />
      <img alt="Question" src="{{ "question.svg" | asset_url }}" class="portland-character" />
      <img alt="Jason VanLue" src="{{ "jason-vanlue.svg" | asset_url }}" class="portland-character" />

    </div>

  </section>

  <section class="portland-details pbl ptl">

    <div class="cell">

      <div class="card">

        <h2 class="tac">Portland, Aug 22 - 23</h2>

        <p>Our first event in Portland is also our last time running the Front-End Design Conference. We hope to meet many of the awesome members of the Portland community that we have heard so much about.</p>

        <div class="holy-shit-pay-attention-to-me pam tac mbm">

          <p>Conference rate for the Portland Marriott City Center is $189/night and ends July 25.</p>

          <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Front-End%20Design%20Conference%5Epdxct%60fedfeda%60189.00%60USD%60false%608/20/14%608/24/14%6007/21/14&app=resvlink&stop_mobi=yes" class="btn">Book your room</a>

        </div>

        <div class="grid">

          <div class="grid-box grid-box--tablet--1of2 tac">

            <h3>Conference</h3>

            <p>Aug 22, 9:30am - 5:30pm, 7 Presentations</p>

            <p class="mbs"><img src="{{ "gerding-interior.jpg" | asset_url }}" /></p>

            <p><strong>Gerding Theater at the Armory</strong><br />
                128 NW Eleventh Avenue, Portland, Oregon 97209</p>

          </div>

          <div class="grid-box grid-box--tablet--1of2">

            <h3 class="tac">Meetups</h3>

            <p class="tac">Aug 23, All day</p>

            <p>While learning from the presentations is the focus of conferences, the conversations outside of them are often the best part of the event. They are what lead to friendships, work opportunities, and collaboration.</p>

            <p>Rather than have a second day of presentations, we're hoping to get people from the event together to explore Portland and hang out.</p>

            <p>Details aren't finalized, but we're lining up some creative jam sessions, some hiking/outdoorsy fun, and times for talking shop over the amazing food and drinks in Portland.</p>

          </div>

        </div>

        <div class="mbl mtl tac">

          <a href="https://ti.to/dandenney/front-end-conf-portland" class="btn tsxl">Register for $199</a>

        </div>

      </div>

    </div>

  </section>

  <!-- <section>

    <div class="cell--f pbl ptl video-wrapper">

      <p class="tac">Want to know what the vibe is like? See what went down in St. Pete in July!</p>

      <iframe src="//player.vimeo.com/video/70512830?title=0&amp;byline=0&amp;portrait=0&amp;color=b51f24" width="280" height="157" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <p class="mtl tac">You can also see what people shared (while Twitter still has them available) on <a href="https://tagboard.com/frontendconf">tagboard</a>.

    </div>

  </section> -->

  <section class="ptxl">

    <h2 class="mbf tac">Speakers and Schedule</h2>
    <p class="tac">August 22</p>

    <div class="cell--f oh mtm">

      <div class="grid">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">
            <p class="mbs mtf tcs">8:30am - 9:30am</p>
            <p class="mbf tsl">Registration and Breakfast</p>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">
            <p class="mbs mtf tcs">9:30am - 9:40am</p>
            <p class="mbf tsl">Intro</p>
          </div>

        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">

            <p class="mbs mtf tcs">9:40am - 10:30am</p>
            <p class="tsl">Human First Web Design</p>

            <img class="fl lazy person--image" data-original="{{ "daniel-ryan.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Daniel Ryan</p>
                </li>
              <li class="person--title mbf">Web Developer &amp; Consultant</li>
              <li class="person--company">WayPaver</li>
              <li class="person--socials">

                  <a href="https://twitter.com/dryan"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="https://codepen.io/dryan">{% include "codepen" %}</a>
                  <a href="http://dryan.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">

            <p class="mbs mtf tcs">10:30am - 11:20am</p>
            <p class="tsl">Animating the web in a post-Flash world</p>

            <img class="fl lazy person--image" data-original="{{ "rachel-smith.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Rachel Smith</p>
                </li>
              <li class="person--title mbf">Front-End Dev</li>
              <li class="person--company">Active Theory</li>
              <li class="person--socials">

                <a href="https://twitter.com/rachsmithtweets"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/rachsmith">{% include "codepen" %}</a>
                <a href="http://rachsmith.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>20 Minute Break</h3>
          <p class="mbf">11:20am - 11:40am</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">

            <p class="mbs mtf tcs">11:40am - 12:30pm</p>
            <p class="tsl">Small Screen Nav</p>

            <img class="fl lazy person--image" data-original="{{ "ben-callahan.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Ben Callahan</p>
                </li>
              <li class="person--title mbf">President</li>
              <li class="person--company">Sparkbox</li>
              <li class="person--socials">

                <a href="https://twitter.com/bencallahan"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/bencallahan">{% include "codepen" %}</a>
                <a href="http://bencallahan.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>


          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">

            <p class="mbs mtf tcs">12:30pm - 1:20pm</p>
            <p class="tsl">Fostering Collaboration with Pattern Libraries and Rapid Prototyping</p>

            <img class="fl lazy person--image" data-original="{{ "bermon-painter.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Bermon Painter</p>
                </li>
              <li class="person--title mbf">Design/Developer Hybrid</li>
              <li class="person--company">Founder of Blend Conf</li>
              <li class="person--socials">

                <a href="https://twitter.com/bermonpainter"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/bpainter">{% include "codepen" %}</a>
                <a href="http://bermonpainter.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>Lunch</h3>
          <p class="mbf">1:20pm - 2:50pm</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2 mhci">

          <div class="card--a oh">

            <p class="mbs mtf tcs">2:50pm - 3:40pm</p>
            <p class="tsl">SVG is for Everybody</p>

            <img class="fl lazy person--image" data-original="{{ "chris-coyier.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Chris Coyier</p>
                </li>
              <li class="person--title mbf">Designer, Writer, Podcaster</li>
              <li class="person--company">CodePen, CSS-Tricks, ShopTalk</li>
              <li class="person--socials">

                <a href="https://twitter.com/chriscoyier"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="https://codepen.io/chriscoyier">{% include "codepen" %}</a>

                <a href="http://codepen.io"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

      </div>

      <div class="mtm tac">

        <div class="card--a oh">
          <h3>20 Minute Break</h3>
          <p class="mbf">11:20am - 11:40am</p>
        </div>

      </div>

      <div class="grid mtm">

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a oh">
            <h3>TBD</h3>
            <p>4:00pm - 4:40pm</p>
            <p class="mtm">TBD</p>
          </div>

        </div>

        <div class="grid-box grid-box--tablet--1of2">

          <div class="card--a mtm--s oh">
            <h3>Jason VanLue</h3>
            <p>4:40pm - 5:30pm</p>
            <p class="mtm">A Study In Pixels:
Design, the World, and the Other Side of the Screen</p>

            <img class="fl lazy person--image" data-original="{{ "jason-vanlue.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Jason VanLue</p>
                </li>
              <li class="person--title mbf">Designer, Writer, Podcaster</li>
              <li class="person--company">CodePen, CSS-Tricks, ShopTalk</li>
              <li class="person--socials">

                <a href="https://twitter.com/jasonvanlue"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="http://jasonvanlue.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

        </div>

    </div>

  </section>

  <section class="ptxl">

    <div class="cell--f">

      <h2 class="tac">Meetups</h2>

      <p>The purpose behind this second day is to get like-minded people spending some time with each other. Confs are a great time for meeting new people and Portland is a wonderful city to enjoy together. We're hoping for something like these super kind words from Angela Trego Crist:</p>

      <div class="cell--b mbl tac">
        <blockquote class="twitter-tweet" lang="en"><p>Oh <a href="https://twitter.com/hashtag/frontendconf?src=hash">#frontendconf</a> Dan definitely created more than a conf. He created life changes, friendships, opportunity, and more. Thank you <a href="https://twitter.com/dandenney">@dandenney</a></p>&mdash; Angela Trego Crist (@ajtrego) <a href="https://twitter.com/ajtrego/statuses/487961060797083648">July 12, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <p class="mtl tac">We'll list the available meetups closer to the final day. Meanwhile, if you'd like to suggest one...</p>

      <div class="cell--b">

        <div id="wufoo-p168wc651e1zedo">
        </div>
        <script type="text/javascript">var p168wc651e1zedo;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'dandenney',
        'formHash':'p168wc651e1zedo',
        'autoResize':true,
        'height':'737',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { p168wc651e1zedo = new WufooForm();p168wc651e1zedo.initialize(options);p168wc651e1zedo.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>

      </div>

    </div>

  </section>

  <!-- <section class="home--intro">

      <div class="cell--a tac home--locations">

        <p class="location--intro tal">Front-End Conf is an event to celebrate the wonderful people in our industry and to share knowledge. This year, we will be celebrating in 2 cities.</p>

        <div class="tal">

          <div class="grid">

            <article class="grid-box grid-box--tablet--1of2 fr location--stpete tac">
              <h2>St. Petersburg, FL</h2>
              <p>Workshop: <strong>July 10</strong>, Conf: <strong>July 11-12</strong></p>
              <p class="pbl tac">
                <a class="btn" href="/st-pete">Details</a>
              </p>

              <h4 class="mtll">Thank you to our sponsors!</h4>

              <div class="tac">
                <a href="http://theironyard.com" class="dib"><img src="{{ "iron-yard.svg" | asset_url }}" width="80" /></a>

                <a class="dib mlm" href="http://mailchimp.com" class="mll"><img src="{{ "mailchimp.svg" | asset_url }}" width="200" /></a>

                <a class="dib mlm" href="http://threadbird.com" class="mll"><img src="{{ "threadbird.svg" | asset_url }}" width="140" /></a>

              </div>

            </article>

            <article class="grid-box grid-box--tablet--1of2 location--portland tac">
              <h2>Portland, OR</h2>
              <p>Workshop: <strong>August 21</strong>, Conf: <strong>August 22</strong><br />Meetups: August 23</p>
              <p class="tac">
                <a class="btn" href="/portland">Details</a>
              </p>
            </article>

          </div>

        </div>

      </div>

      <div class="home-characters">

        <div class="cell--c">

          <div class="grid">

            <img alt="Daniel Ryan" src="{{ "daniel-ryan.svg" | asset_url }}" class="home-character" />
            <img alt="Rachel Smith" src="{{ "rachel-smith.svg" | asset_url }}" class="home-character"  />
            <img alt="Drew Barontini" src="{{ "drew-barontini.svg" | asset_url }}" class="home-character"  />
            <img alt="Andi Graham" src="{{ "andi-graham.svg" | asset_url }}" class="home-character"  />
            <img alt="Elyse Holladay" src="{{ "elyse-holladay.svg" | asset_url }}" class="home-character"  />
            <img alt="Kevin Mandeville" src="{{ "kevin-mandeville.svg" | asset_url }}" class="home-character"  />
            <img alt="Noah Stokes" src="{{ "noah-stokes.svg" | asset_url }}" class="home-character"  />

          </div>

        </div>

      </div>

  </section> -->

{% endblock %}

{% block scripts %}

  {{ "lazyload.js" | asset_url | script_tag }}

  <script>

    $("img.lazy").lazyload({
      effect: "fadeIn"
    });

  </script>

{% endblock %}
