{% layout "converge" %}

{% block content %}

  <div class="header main_col">
    <div class="stage">
      <div class="stage_floor"></div>

      <div class="left_drape drape">
        <img src="{{ "stage/drape_left.png" | asset_url }}" alt="">
      </div>
      <div class="right_drape drape">
        <img src="{{ "stage/drape_left.png" | asset_url }}" alt="">
      </div>
      <div class="banner_top"></div>
      <div class="logo">
        <a href="">
          <img src="{{ "stage/logo.png" | asset_url }}" alt="">
        </a>
      </div>
      <div class="characters clearfix">
        <div class="dan">
          <img class="name_tag dan_tag" src="{{ "dan_tag.png" | asset_url }}" alt="">
          <img src="{{ "stage/dan.png" | asset_url }}" alt="">
        </div>
        <div class="gene">
          <img class="name_tag gene_tag" src="{{ "gene_tag.png" | asset_url }}" alt="">
          <img src="{{ "stage/gene.png" | asset_url }}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content main_col clearfix">

      <div class="blurb">
        <h1>The Show Must Go On!</h1>
        <p><a href="http://dandenney.com/">Dan Denney</a> and <a href="http://unmatchedstyle.com">UnmatchedStyle</a> have teamed up to continue to bring you the one and only Front-End Design Conference!</p>
      </div>

      <div class="story">
        <h2>Dan Denney is a Hero</h2>

        <p>Dan has been hosting The Front-End Design Conference since way back in 2009. He helped to foster a growing community of web folks in and around the Tampa/St.Pete area and has built one of the most heartfelt and genuine conferences in the country. It's little surprise, because when we think of Dan, those words come so easily to mind: Genuine and Heartfelt.</p>

        <P>The Front-End Design Conference was one of the first conferences we got involved in and continued to attend year after year. This conference has become our home away from home and we’ve become emotionally attached to it and Dan.</p>

          <p>Our experiences at Dan’s conference shaped our expectations of what a web conference should be and as the crew that hosts Converge, BDConf and Grok, we always try to recreate some of that welcoming atmosphere and positive energy at each of our conferences.</p>

          <h4>Long Live the Conf!</h4>
          <p>Dan and his wife Cherrie have decided to hang up their hats and cease hosting Front-End. While we understand their reasons and wish them all the best, it's hard to let go of a good thing. We want to keep Front-End alive and with that in mind, UnmatchedStyle will take over the heavy lifting of organizing the event, so that they can focus on other things. They will still be there with us and stay active, but we'll manage the events and help wrangle speakers.</p>

          <p>We hope that you will join us in this joint venture. The Front-End Design Conference lives!</p>

          <p>- Gene, Gio, Jay, Aaron - <a href="http://unmatchedstyle.com">UnmatchedStyle</a></p>
        </div>

        <div class="newsletter">

          <div class="mailinglist_form wufoo_form">

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//frontenddesignconference.us2.list-manage.com/subscribe/post?u=040435af75d83823cc94edc9b&amp;id=88b2a28d01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">


                  <div class="mc-field-group">
                    <h3><label for="email">Keep up to date on The Front-End Design Conference.</label></h3>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email...">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_040435af75d83823cc94edc9b_88b2a28d01" tabindex="-1" value=""></div>
                    <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>

                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->


          </div>
          <div class="social">
            <h3>Stay in Touch and Follow us:</h3>
            <a class="twitter" href="https://twitter.com/frontendconf">
              <span class="icon-twitter"></span>
              <span>Twitter</span>
            </a>
            <a class="facebook" href="https://www.facebook.com/FrontEndDesign">
              <span class="icon-facebook"></span>
              <span>Facebook</span>
            </a>
            <a class="lanyrd" href="http://lanyrd.com/2014/frontendconf/">
              <span class="icon-lanyrd"></span>
              <span>Lanyrd</span>
            </a>
          </div>
        </div>
      </div>
      <div class="upcoming_events">
        <div class="content">
          <h2>Upcoming Events <span>(While you wait for Front-End Conf!)</span></h2>
          <div class="event convergefl">
            <a href="http://www.convergefl.com">
              <img src="{{ "convergefl.jpg" | asset_url }}" alt="ConvergeFL screenshot">
            </a>
            <div class="event_details">
              <h2><a href="http://www.convergefl.com">ConvergeFL</a></h2>
              <h3>Jacksonville, Florida</h3>
              <h4>November 7-8, 2014</h4>
            </div>
          </div>
          <div class="event bdconf_orlando">
            <a href="http://www.bdconf.com">
              <img src="{{ "bdconf.jpg" | asset_url }}" alt="BDConf screenshot">
            </a>
            <div class="event_details">
              <h2><a href="http://www.bdconf.com">BDConf Orlando</a></h2>
              <h3>Orlando, Florida</h3>
              <h4>November 3-5, 2014</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="past_sites">
        <a href="http://www.frontenddesignconference.com/2013">2013</a>
        <a href="http://www.frontenddesignconference.com/2012">2012</a>
        <a href="http://www.frontenddesignconference.com/2011">2011</a>
        <a href="http://www.frontenddesignconference.com/2010">2010</a>
        <a href="http://www.frontenddesignconference.com/2009">2009</a>
        <a href="https://dandenney.wufoo.com/forms/frontend-design-conference-support/">Contact</a>
      </div>
    </div>

{% endblock %}

{% block scripts %}

  {{ "lazyload.js" | asset_url | script_tag }}

  <script>

    $("img.lazy").lazyload({
      effect: "fadeIn"
    });

    $(".js-expand-trigger").click(function(e) {
      e.preventDefault();
      $(this).toggleClass("is-visible");
      $(".js-expand-target").toggleClass("is-visible");
    });



  </script>




{% endblock %}
