{% block content %}


	<h1>Registration Info</h1> 

  <div id="pricing" class="inner wrapper--thirds pricing">

    <div class="block-to-one-third">
      <p class="price h4 fit-03">$149</p>
      <h4 class="one-moneys">Conference Only</h4>
      <p>Full access to both conference days and the after-party. Join a few hundred people who build the web to share and celebrate how awesome our community is. </p>
      <div class="center-group sold-out">
        <h3>Sold Out!</h3>
        <p><a href="https://dandenney.wufoo.com/forms/2013-conference-waiting-list">Conference Waiting List</a></p>
      </div>

    </div>

    <div class="block-to-one-third">  
      <p class="price h4 fit-03">$99</p>
      <h4 class="less-moneys">Students</h4>
      <p>We have a limited number of conference-only spots available for students at a discount. Email us if you are a student and would like to register.</p>
      <div class="center-group">
        <h3>Sold Out!</h3>
      </div>
    </div>

    <div class="block-to-one-third">
      <p class="price h4 fit-03">$424</p>
      <h4 class="two-moneys">Conf + Workshop</h4> 
      <p>A <a href="/workshop">full day of training</a> from the creators of MVCSS, covering best practices for modern front-end development + full access to the conference.</p>
      <div class="center-group sold-out">
        <h3>Sold Out!</h3>
        <p><a href="https://dandenney.wufoo.com/forms/2013-workshop-waiting-list">Workshop Waiting List</a></p>
      </div>

    </div>

  </div>

  <h2 class="fit-16" id="pre-conf">Thursday, June 20th</h2>

  <section class="inner wrapper--halves">

    <div class="block-to-half">

      <div class="center-group">

        <img src="{{ "nick-walsh.jpg" | asset_url }}" alt="Nick Walsh" class="workshop-character">
        <img src="{{ "drew-barontini.jpg" | asset_url }}" alt="Drew Barontini" class="workshop-character">

      </div>

      <h3>Workshop Details</h3>
      <p>Nick Walsh and Drew Barontini will be teaching modern front-end development practices. <a href="/workshop">More details</a> are available, but the workshop is sold out and we now have a <a href="https://dandenney.wufoo.com/forms/2013-workshop-waiting-list">waiting list</a>.</p>
      <p>The workshop will run from 9am-5pm, with a 1 hour lunch break. Lunch will be provided and more details on the options and the location will be available when registration opens.</p>
    
    </div>

    <div class="block-to-half meet-ups">
      <i aria-role="hidden" data-icon="&#x70;"></i>
      <h3>Meet-ups</h3>
      <p>People from out of town start arriving and the natives get a little restless. With a little push, people start getting together and feelin' alright. We don't set an 'official' meetup because we usually are doing last-minute things, but we share things that we know are going on.</p>
      <p>Want to meet people at the airport? Setting up a lunch, dinner or spot for libations and conversation? Let us know.</p>

    </div>

  </section>

  <h2 class="fit-16" id="day-one">Friday, June 21st</h2>
  <h3 class="day-two dark-sub-title fit-23">Day One 9am-5:30pm</h3>

  <section class="inner wrapper--thirds">

    <h3 class="speakers"><i aria-role="hidden" data-icon="&#x71;"></i> Speakers</h3>

    <div class="center-group">

      <article class="past-speaker">

        <img src="{{ "matt-graham.jpg" | asset_url }}" alt="Matt Graham">

        <img src="{{ "matt-graham.svg" | asset_url }}" alt="Matt Graham" class="character">

        <h4>Matt Graham</h4>
        <h5>Designers, Developers and the Love They&nbsp;Share</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/michigangraham">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @michigangraham
            </a>
          </li>
          <li>
            <a href="http://madebygraham.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              madebygraham.com
            </a>
          </li>
        </ul>
      </article>

      <article class="past-speaker">

        <img src="{{ "michael-parenteau.jpg" | asset_url }}" alt="Michael Parenteau" />
        
        <img src="{{ "michael-parenteau.svg" | asset_url }}" alt="Michael Parenteau" class="character">

        <h4>Michael Parenteau</h4>
        <h5> The myth of the half-brained designer... and their magic&nbsp;vacuum.</h5>

        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/parenteau">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @parenteau
            </a>
          </li>
          <li>
            <a href="http://michaelparenteau.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              michaelparenteau.com
            </a>
          </li>
        </ul>

      </article>

      <article class="past-speaker">
        
        <img src="{{ "jenn-lukas.jpg" | asset_url }}" alt="Jenn Lukas">
        <img src="{{ "jenn-lukas.svg" | asset_url }}" alt="Jenn Lukas">

        <h4>Jenn Lukas</h4>
        <h5>Hot Links</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/jennlukas">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @jennlukas
            </a>
          </li>
          <li>
            <a href="http://jennlukas.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              jennlukas.com
            </a>
          </li>
        </ul>

      </article>

      <article class="past-speaker">

        <img src="{{ "chris-coyier.jpg" | asset_url }}" alt="Chris Coyier">
        <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier">

        <h4>Chris Coyier</h4>
        <h5>CSS is for Computers</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/chriscoyier">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @chriscoyier
            </a>
          </li>
          <li>
            <a href="http://css-tricks.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              css-tricks.com
            </a>
          </li>
        </ul>

      </article>

      <article class="past-speaker">

        <img src="{{ "ben-callahan.jpg" | asset_url }}" alt="Ben Callahan">
        <img src="{{ "ben-callahan.svg" | asset_url }}" alt="Ben Callahan">

        <h4>Ben Callahan</h4>
        <h5>Serving RWD Styles</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/bencallahan">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @bencallahan
            </a>
          </li>
          <li>
            <a href="http://bencallahan.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              bencallahan.com
            </a>
          </li>
        </ul>

      </article>

      <article class="past-speaker">

        <img src="{{ "doug-neiner.jpg" | asset_url }}" alt="Doug Neiner">
        <img src="{{ "doug-neiner.svg" | asset_url }}" alt="Doug Neiner">

        <h4>Doug Neiner</h4>
        <h5>jQuery Jumble</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/dougneiner">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @dougneiner
            </a>
          </li>
          <li>
            <a href="http://dougneiner.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              dougneiner.com
            </a>
          </li>
        </ul>

      </article>

      <article class="past-speaker">

        <img src="{{ "cameron-moll.jpg" | asset_url }}" alt="Cameron Moll">
        <img src="{{ "cameron-moll.svg" | asset_url }}" alt="Cameron Moll">

        <h4>Cameron Moll</h4>
        <h5>Authentic Design</h5>
        <ul class="block-to-inline">
          <li>
            <a href="https://twitter.com/#!/cameronmoll">
              <i aria-role="hidden" data-icon="&#x74;"></i> 
              @cameronmoll
            </a>
          </li>
          <li>
            <a href="http://cameronmoll.com">
              <i aria-role="hidden" data-icon="&#x62;"></i>
              cameronmoll.com
            </a>
          </li>
        </ul>

      </article>

    </div>

    <div class="wrapper--two-thirds-third">

      <div class="block-to-two-thirds">

        <h3 class="schedule"><i aria-role="hidden" data-icon="&#x73;"> </i>Schedule</h3>

        <div class="holy-shit-pay-attention-to-me">
          <p>This is a work in progress, but it's the current plan.</p>
        </div>

        <ol class="schedule">
          <li>
            <p class="time">8:30am-9:30am</p>
            <p class="h4">Registration &amp; Breakfast</p>
          </li>
          <li>
            <p class="time">9:30am-9:40am</p>
            <p class="h4">Intro</p>
          </li>
          <li>
            <p class="time">9:40am-10:30am</p>
            <img src="{{ "matt-graham.jpg" | asset_url }}" alt="Matt Graham">
            <img src="{{ "matt-graham.svg" | asset_url }}" alt="Matt Graham">
            <p><span class="h5">Matt Graham</span> Designers, Developers and the Love They Share</p>
          </li>
          <li>
            <p class="time">10:30am-11:20am</p>
            <img src="{{ "michael-parenteau.jpg" | asset_url }}" alt="Michael Parenteau">
            <img src="{{ "michael-parenteau.svg" | asset_url }}" alt="Michael Parenteau">
            <p><span class="h5">Michael Parenteau</span> The myth of the half-brained designer... and their magic vacuum.</p>
          </li>
          <li>
            <p class="time">11:20am-11:40am</p>
            <p class="h4">Break</p>
          </li>
          <li>
            <p class="time">11:40am-12:30pm</p>
            <img src="{{ "jenn-lukas.jpg" | asset_url }}" alt="Jenn Lukas">
            <img src="{{ "jenn-lukas.svg" | asset_url }}" alt="Jenn Lukas">
            <p><span class="h5">Jenn Lukas</span> Making Sites Extra Awesome with&nbsp;Hovers</p>
          </li>
          <li>
            <p class="time">12:30pm-1:20pm</p>
            <img src="{{ "chris-coyier.jpg" | asset_url }}" alt="Chris Coyier">
            <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier">
            <p><span class="h5">Chris Coyier</span> CSS is for Computers</p>
          </li>
          <li>
            <p class="time">1:20pm-2:20pm</p>
            <p class="h4">Lunch</p>
          </li>
          <li>
            <p class="time">2:20pm-3:00pm</p>
            <img src="{{ "shoptalk.jpg" | asset_url }}" alt="ShopTalk Show">
            <!-- <img src="{{ "dave-rupert.svg" | asset_url }}" alt="Dave Rupert">
            <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier"> -->
             <p><span class="h5">Live Shop Talk Show</span> Dave Rupert and Chris Coyier</p>
          </li>
          </li>
          <li>
            <p class="time">3:00pm-3:50pm</p>
            <img src="{{ "ben-callahan.jpg" | asset_url }}" alt="Ben Callahan">
            <img src="{{ "ben-callahan.svg" | asset_url }}" alt="Ben Callahan">
            <p><span class="h5">Ben Callahan</span> Serving RWD Styles</p>
          </li>
          <li>
            <p class="time">3:50pm-4:10pm</p>
            <p class="h4">Break</p>
          </li>
          <li>
            <p class="time">4:10pm-5:00pm</p>
            <img src="{{ "doug-neiner.jpg" | asset_url }}" alt="Doug Neiner">
            <img src="{{ "doug-neiner.svg" | asset_url }}" alt="Doug Neiner">
            <p><span class="h5">Doug Neiner</span> jQuery Jumble</p>
          </li>
          
          <li>
            <p class="time">5:00pm-5:50pm</p>
            <img src="{{ "cameron-moll.jpg" | asset_url }}" alt="Cameron Moll">
            <img src="{{ "cameron-moll.svg" | asset_url }}" alt="Cameron Moll">
            <p><span class="h5">Cameron Moll</span> Authentic Design</p>
          </li>
          
        </ol>

        <p class="h4 dark-sub-title">After Party from 6pm - 9pm</p>

        <p class="h4 dark-sub-title">After After Party from 9pm - ?</p>

      </div>

      <div class="block-to-one-third locations">

        <h3 class="locations"><i aria-role="hidden" data-icon="&#x68;"> </i>Locations</h3>

        <h4>Conference</h4>
        <ul>
          <li><a href="https://maps.google.com/maps?q=Palladium+Theater,+253+5th+Ave+N,+St+Petersburg,+FL&hl=en&sll=27.778769,-82.65482&sspn=0.414928,0.700378&oq=pall&hq=Palladium+Theater,&hnear=253+5th+Ave+N,+St+Petersburg,+Pinellas,+Florida+33701&t=m&z=17"><img src="{{ "/images/maps/map-palladium.png" | asset_url }}" alt="map to Palladium Theater"></a></li>
          <li><h5>Palladium Theater</h5></li>
          <li>253 5th Ave N <br /> St. Petersburg, FL 33701</li>
        </ul>

        <h4>After Party</h4>
        <ul>
          <li><a href="https://maps.google.com/maps?q=push+ultra+lounge&fb=1&gl=us&hq=push+ultra+lounge&hnear=0x88c2e663693aaa41:0x4cc4003bcd48bff,St.+Petersburg,+FL&cid=0,0,2159763085124528759&t=h&z=16&iwloc=A"><img src="{{ "/images/maps/map-push.jpg" | asset_url }}" alt="map to Palladium Theater"></a></li>
          <li><h5>Push Ultra Lounge</h5></li>
          <li>128 3rd St S <br /> St. Petersburg, FL 33701</li>
        </ul>

        <h4>After After Party</h4>
        <ul class="coming-soon">
          <li><img src="{{ "/images/maps/map-palladium.png" | asset_url }}" alt="map to Palladium Theater"></li>
          <li><h5>Future Bar Name</h5></li>
          <li>5678 After After Party Street <br /> St. Petersburg, FL 33701</li>
        </ul>

      </div>

    </div>

  </section>

  <h2 class="fit-16" id="day-two">Saturday, June 22nd</h2>

  <section class="inner">

    <h3 class="fit-23 day-two"><span class="h5">Day Two 11am-5pm</span></h3>

    <div class="wrapper--halves day-two">

      <div class="block-to-half">   

        <h4><i aria-role="hidden" data-icon="&#x6c;"></i> Attendee Presentations</h4>

        <p>Day Two is filled with presentations from attendees. The approved talks will be listed here and the final schedule will be out as soon as possible.</p>

      </div>

      <div class="block-to-half">

        <h4><i aria-role="hidden" data-icon="&#x71;"></i> How to Participate</h4>

        <p>Your registration confirmation will have a link to a form to submit a proposal for a talk! We're being more flexible with them this year, so they can be 10-30 minutes.</p>

      </div>

      <section class="wrapper--thirds">

        <h3 class="speakers"><i aria-role="hidden" data-icon="&#x71;"></i> Speakers</h3>

        <div class="center-group">

          {% for speaker in model.speakers %}

            <article class="past-speaker">
              
              <img src="{{ speaker.speaker-avatar }}" alt="{{ speaker.speaker-firstName }} {{ speaker.speaker-lastName }}" />
              
              <h4>{{ speaker.speaker-firstName }} {{ speaker.speaker-lastName }}</h4>
              <h5>{{ speaker.topic-title }}</h5>

              <p>{{ speaker.speaker-bio }}</p>
              
              <ol class="block-to-inline">

                <li><a href="http://twitter.com/{{ speaker.speaker-twitter }}"><i aria-role="hidden" data-icon="&#x74;"></i>  @{{ speaker.speaker-twitter }}</a></li>
                <li><a href="http://{{ speaker.speaker-website }}"><i aria-role="hidden" data-icon="&#x62;"></i>  {{ speaker.speaker-website }}</a></li>

              </ol>  
            </article>

          {% endfor %}

        </div>

      </section>

      <p class="h5 fit-4 center-group">Final Beers and Conversation to follow!</p>

    </div>
  
  </section>

  <h2 class="fit-16" id="area-info">Area Info</h2>

  <section class="inner">

    <h3 id="hotels"><i aria-role="hidden" data-icon="&#x68;"> </i> Hotels</h3>

    <div id="hotels" class="wrapper--thirds">

      <div class="block-to-one-third">

        <a href="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=501+5th+Avenue+Northeast,+St.+Petersburg,+FL+33701+(Vinoy%C3%82%C2%AE+Renaissance+St.+Petersburg+Resort+%26+Golf+Club)&amp;daddr=Palladium+Theater,+253+5th+Avenue+North,+St+Petersburg,+FL+33701&amp;hl=en&amp;geocode=FSXepwEdBi4T-ymZZ1f5dOHCiDGe8bh5FXV8Cw%3BFTnbpwEdxA8T-yECIm7kMopM-Cl7-YGad-HCiDFlAwFSx6H1_A&amp;gl=us&amp;mra=ls&amp;sll=27.777933,-82.63312&amp;sspn=0.006094,0.010278&amp;ie=UTF8&amp;ll=27.777592,-82.632916&amp;spn=0.006094,0.010278&amp;z=17"><img src="{{ "images/maps/map-vinoy.jpg" | asset_url }}" /></a>

        <h5>Vinoy Renaissance St. Petersburg Resort</h5>
      
        <p>This is a wonderful hotel. It's a bit more than the other options, but it's totally worth it. It will be hot, but it's a short walk to the Palladium.</p>
      
        <ul>
          <li><a href="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=501+5th+Avenue+Northeast,+St.+Petersburg,+FL+33701+(Vinoy%C3%82%C2%AE+Renaissance+St.+Petersburg+Resort+%26+Golf+Club)&amp;daddr=Palladium+Theater,+253+5th+Avenue+North,+St+Petersburg,+FL+33701&amp;hl=en&amp;geocode=FSXepwEdBi4T-ymZZ1f5dOHCiDGe8bh5FXV8Cw%3BFTnbpwEdxA8T-yECIm7kMopM-Cl7-YGad-HCiDFlAwFSx6H1_A&amp;gl=us&amp;mra=ls&amp;sll=27.777933,-82.63312&amp;sspn=0.006094,0.010278&amp;ie=UTF8&amp;ll=27.777592,-82.632916&amp;spn=0.006094,0.010278&amp;z=17">501 5th Avenue Northeast St. Petersburg, FL 33701</a></li>

        </ul>

      </div>

      <div class="block-to-one-third">

        <a href="https://maps.google.com/maps?q=333+1st+Street+Southeast,+St.+Petersburg,+FL&hl=en&sll=27.771355,-82.63474&sspn=0.024112,0.038967&oq=333+1st+Street+South&t=h&gl=us&hnear=333+1st+St+SE,+St+Petersburg,+Florida+33701&z=16"><img src="{{ "maps/map-hilton.jpg" | asset_url }}" /></a>

        <h5>Hilton Bayfront</h5>
      
        <p>This was the location of our 2010 event and is a great hotel offering a great price for this year's attendees.</p>
      
        <ul>
          <li><a href="https://maps.google.com/maps?q=333+1st+Street+Southeast,+St.+Petersburg,+FL&hl=en&sll=27.771355,-82.63474&sspn=0.024112,0.038967&oq=333+1st+Street+South&t=h&gl=us&hnear=333+1st+St+SE,+St+Petersburg,+Florida+33701&z=16">331 1st St SE, St. Petersburg, FL 33701</a></li>
          <li class="holy-shit-pay-attention-to-me">
            <h5>Block Discount - $99/night</h5>
            <a href="http://www.hilton.com/en/hi/groups/personalized/S/SPTSHHF-FED-20130620/index.jhtml?WT.mc_id=POG">Book online</a> or call 727-894-5000 and tell them you are with the Front-End Design Conference.
          </li>
        </ul>

      </div>

      <div class="block-to-one-third">

        <a href="http://maps.google.com/maps?saddr=300+4th+Street+North,+St.+Petersburg,+FL&amp;daddr=Palladium+Theater,+253+5th+Avenue+North,+St.+Petersburg,+FL+33701&amp;hl=en&amp;ll=27.776529,-82.637283&amp;spn=0.006483,0.009903&amp;sll=27.775525,-82.637035&amp;sspn=0.006483,0.009903&amp;geocode=FbnQpwEdwQgT-ymROxSjguHCiDH-bhGl6hTEiQ%3BFTnbpwEdxA8T-yECIm7kMopM-Cl7-YGad-HCiDGRZXt1o3W8QA&amp;dirflg=w&amp;mra=ltm&amp;t=m&amp;z=17"><img src="{{ "images/maps/map-marriott.jpg" | asset_url }}" /></a>

        <h5>Courtyard Marriott Downtown</h5>
      
        <p>We haven't stayed at this particular location, but Courtyard Marriotts generally rock.</p>
      
        <ul>
          <li><a href="http://maps.google.com/maps?saddr=300+4th+Street+North,+St.+Petersburg,+FL&amp;daddr=Palladium+Theater,+253+5th+Avenue+North,+St.+Petersburg,+FL+33701&amp;hl=en&amp;ll=27.776529,-82.637283&amp;spn=0.006483,0.009903&amp;sll=27.775525,-82.637035&amp;sspn=0.006483,0.009903&amp;geocode=FbnQpwEdwQgT-ymROxSjguHCiDH-bhGl6hTEiQ%3BFTnbpwEdxA8T-yECIm7kMopM-Cl7-YGad-HCiDGRZXt1o3W8QA&amp;dirflg=w&amp;mra=ltm&amp;t=m&amp;z=17">300 Fourth Street North St. Petersburg, FL 33701</a></li>
          <li class="holy-shit-pay-attention-to-me">
            <h5>Block Discount - $129/night</h5>
            Call 727-450-6200 and tell them you are with the Front-End Design Conference.
          </li>
        </ul>

      </div>

    </div>

    <h3 id="eat-drink" class="space-top">Places to Eat and Drink</h3>
    <ul class="places">
      <li>
        <a href="http://www.stpetebrasserie.com/">St. Pete Brasserie</a>One of our fave places for dinner. We've always had an amazing meal, desserts are to die for. They have a triple crème brulee with classic, chocolate and coffee flavored crème brulee that we always have to get!</li>
      <li>
        <a href="http://www.facebook.com/fivebucks727">Five Bucks</a>If you want greasy, fatty bar food this is the place! They have “haute dogs” that are super greasy and super yummy!</li>
      <li>
        <a href="http://www.themoonunderwater.com/">Moon Under Water</a>One of Dan’s faves. Chicken pot pies and Palm beer, his fave lunch order!</li>
      <li>
        <a href="http://www.facebook.com/Courigans">Courigan's</a>Your standard Irish Pub, great food and good beer…their coffee beer is worth a try!</li>
      <li>
        <a href="http://theavenuedtsp.com/">The Avenue Eat/Drink</a>Burger joint. So many selections, they even have a burger with fried egg!</li>
      <li>
        <a href="http://www.zgrille.net/">Z-Grille</a>A little pricey, but great food and some cool artwork.</li>
      <li>
        <a href="http://www.luckydillofstpete.com/">Lucky Dill</a>Great deli food</li>
      <li>
        <a href="http://www.centralaveoysterbar.com/">Central Ave. Oyster Bar</a>Great food, nice atmosphere and cool live music on the weekends.</li>
      <li>
        <a href="http://www.thecupcakespotinc.com/">Cupcake Spot</a>Best cupcakes downtown!</li>
      <li>
        <a href="http://www.kahwacoffee.com/about.htm">Kahwa Coffee</a>Dan’s fave coffee spot! He loves their cappuccinos</li>
    </ul>

    <h3 id="things-to-do" class="space-top">Things to Do</h3>
    <ul class="places">
      <li><a href="http://thedali.org/">Dali Museum</a>This is a must do! Amazing art, great waterfront location.</li>
      <li><a href="http://fine-arts.org/">Museum of Fine Arts</a>I haven't actually visited this, but they run events quite often.</li>
      <li><a href="http://www.stpetetrolley.com/">Trolley</a>to St. Pete Beach for the day (voted best beach destination in the US by TripAdvisor!)</li>
    </ul>

  </section>

{% endblock %}