{% layout "current" %}

{% block content %}

  <section class="ptm">

    <h1 class="mtf tac">2014 St. Pete</h1>

    <div class="cell--b">

      <p>Here are the wrap-up and notes posts that we've found so far. <a href="http://twitter.com/frontendconf">@frontendconf</a> if we missed yours...

      <p><a href="http://www.robert-deluca.com/farewell-front-end-design-conference">Farewell Front End Design Conference</a> - Robert DeLuca</p>

      <p><a href="http://ericdodds.com/front-end-design-conference-2014/">Front End Design Conference 2014</a> - Eric Dodds</p>

      <p><a href="http://nathanieldeal.tumblr.com/">2014 Front-End Design Conference Notes</a> - Nathaniel Deal</p>

      <p><a href="http://ja.mesbrown.com/2014/07/front-end-design-conference-2014-notes/">Front End Design Conference 2014 Notes</a> - James Brown</p>

      <p><a href="http://ja.mesbrown.com/2014/07/front-end-design-conference-links/">Front End Design Conference Links</a> - James Brown</p>

      <p><a href="http://laicos.com/front-end-conference/">Front End Conference</a> - Laicos</p>

      <p><a href="http://aj-foster.com/frontendconf-2014-notes.html">Notes from Front-End Design Conference 2014</a> - AJ Foster</p>

      <p><a href="https://www.evernote.com/shard/s272/sh/40a597b0-b004-41f1-bc8e-de20b72a6440/0788900f9678004c9b9d8e409299a7ac">Front-End Design Conference Notes</a> - Shammer Diaz</p>

      <p><a href="http://heyheyjose.com/blog/2014/07/15/my-conference-experience/">My Conference Experience</a> - Jose Vazquez</p>

    </div>

  </section>

  <section class="oh">

    <h2 class="mtm timeline-title">Thank you to our Sponsors!</h2>

    <div class="grid">

      <div class="grid-box grid-box--tablet--1of3 tac">

        <a class="dib mtl" href="http://theironyard.com"><img src="{{ "iron-yard.svg" | asset_url }}" width="120" /></a>
        <p class="mbl">Learn to code. Get a job. Guaranteed.</p>

      </div>

      <div class="grid-box grid-box--tablet--1of3 tac ptm">

        <a class="dib mtl" href="http://mailchimp.com"><img src="{{ "mailchimp.svg" | asset_url }}" width="300" /></a>

        <p class="mbl">Send Better Email</p>

      </div>

      <div class="grid-box grid-box--tablet--1of3 tac">

        <a class="dib mtl" href="http://threadbird.com"><img src="{{ "threadbird.svg" | asset_url }}" width="210" /></a>

        <p class="mbl">Custom Printed T-Shirts, Apparel &amp; More.</p>

      </div>

    </div>

    <div class="grid">

      <div class="grid-box grid-box--tablet--1of6 tac">
        &nbsp;
      </div>

      <div class="grid-box grid-box--tablet--2of6 tac">

        <a class="dib mtl" href="http://stickermule.com"><img src="{{ "sticker-mule.svg" | asset_url }}" width="180" /></a>
        <p class="mbl">Custom stickers that kick ass.</p>

      </div>

      <div class="grid-box grid-box--tablet--2of6 tac ptm">

        <a class="dib mtl" href="http://offscreenmag.com"><img src="{{ "offscreen.svg" | asset_url }}" width="220" /></a>

        <p class="mbl">A Print Magazine about the People behind Bits and Pixels</p>

      </div>

      <div class="grid-box grid-box--tablet--1of6 tac">
        &nbsp;
      </div>

  </section>

  <section>

    <article>

      <h2 class="mtm timeline-title">Thursday, July 10th</h2>

      <ul class="timeline cell--e">

        <li class="timeline-item">

          <div class="timeline-meta">
            9:00 am
          </div>

          <div class="timeline-event">
            Frontend Tooling Workshop
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            8:00 pm
          </div>

          <div class="timeline-event">
            Unofficial Attendee Meetup
          </div>

        </li>

      </ul>

    </article>

    <article class="cell--d">

      <h2 class="timeline-title">Friday, July 11th</h2>

      <ul class="timeline cell--e">

        <li class="timeline-item">

          <div class="timeline-meta">
            8:30 am - 9:30 am
          </div>

          <div class="timeline-event">
            <h6>Registration and Continental Breakfast</h6>
            <p class="tss">We'll have a list and badges, no need for receipts. Fruits, pastries, juice, and coffee will be downstairs.</p>
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            9:30 am - 9:40 am
          </div>

          <div class="timeline-event">
            <h6>Intro</h6>
            <p class="tss">Dan does his usual housekeeping announcements and introduces the first speaker.</p>
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            9:40 am - 10:30 am
          </div>

          <div class="timeline-event">
            <h6 class="mbs">Human First Web Design - <a href="https://speakerdeck.com/dryan/human-first-web-design">Slides</a></h6>

            <img class="fl lazy person--image" data-original="{{ "daniel-ryan.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Daniel Ryan</p>
                </li>
              <li class="person--title mbf">Web Developer &amp; Consultant</li>
              <li class="person--company">WayPaver</li>
              <li class="person--socials">

                  <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="DanielRyan"></i>

                  <a href="https://twitter.com/dryan"><i aria-role="hidden" data-icon="t"></i></a>                  <a href="http://dryan.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>
          </div>

          <div class="modal tal" id="DanielRyan">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/daniel-ryan.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Daniel Ryan</li>
                  <li class="person--title mbf">Web Developer &amp; Consultant</li>
                  <li class="person--company">WayPaver</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/dryan"><i aria-role="hidden" data-icon="t"></i></a>


                    <a href="http://dryan.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Daniel Ryan is a consultant and speaker; Co-captain of the Open Chattanooga Brigade; and Resident Technologist at Waypaver. Previously Daniel was the Director of Front-end Development for President Obama’s 2012 election campaign. Managing a team of two dozen, he oversaw the development of the online tools and technology that helped raised $690m online, recruited hundreds of thousands volunteers, and registered over 1 million voters. Under Daniel’s leadership the campaign employed a multi-screen strategy producing the first responsive website in presidential campaign history. Now Daniel and his team are using the lessons learned from the campaign to help nonprofits and progressive organizations like NextGen Climate Action and Enroll America.</p>


                <h4>Human First Web Design</h4>

                <p class="mbf">Learn principles of online engagement through the experiences of Obama for America's Front-end Director</p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            10:30 am - 11:20 am
          </div>

          <div class="timeline-event">
            <h6 class="mbs">Animating the web in a post-Flash world - <a href="http://rachsmithcodes.github.io/frontendconf/">Slides</a></h6>

            <img class="fr lazy person--image" data-original="{{ "rachel-smith.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Rachel Smith</p>
                </li>
              <li class="person--title mbf">Front-End Dev</li>
              <li class="person--company">Active Theory</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="RachelSmith"></i>
                <a href="https://twitter.com/rachsmithtweets"><i aria-role="hidden" data-icon="t"></i></a>
                <a href="http://rachsmith.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

          <div class="modal tal" id="RachelSmith">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/rachel-smith.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Rachel Smith</li>
                  <li class="person--title mbf">Front-End Dev</li>
                  <li class="person--company">Active Theory</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/rachsmithtweets"><i aria-role="hidden" data-icon="t"></i></a>


                    <a href="http://rachsmith.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Rachel Smith is an Australian Interactive Developer who has spent the last 4 years building the web in Brisbane, London, and most recently Venice CA. She’s currently animating UI and writing Node code for Active Theory.</p>


                <h4>Animating the web in a post-Flash world</h4>

                <p class="mbf">Dive in to some of the technologies and techniques used to create performant animations with HTML5.</p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            11:20 am - 11:40 am
          </div>

          <div class="timeline-event">
            <h6>Break</h6>
            <p class="tss">Time for chatting and enjoying some of the awesome snacks from Datz Dough.</p>
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            11:40 am - 12:30 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Thinking Modular CSS - <a href="http://talks.drewb.io/tmcss/#/">Slides</a> and <a href="http://talks.drewb.io/tmcss-score/">Slides + Content</a></h6>

            <img class="fr lazy person--image" data-original="{{ "drew-barontini.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Drew Barontini </p>
              </li>
              <li class="person--title mbf">Front-End Dev</li>
              <li class="person--company">Code School</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="DrewBarontini"></i>

                <a href="https://twitter.com/drewbarontini"><i aria-role="hidden" data-icon="t"></i></a>


                <a href="http://dribbble.com/drewbarontini"><i aria-role="hidden" data-icon="d"></i></a>


                <a href="http://github.com/drewbarontini"><i aria-role="hidden" data-icon="u"></i></a>


                <a href="http://drewbarontini.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

          <div class="modal tal" id="DrewBarontini">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/drew-barontini.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Drew Barontini</li>
                  <li class="person--title mbf">Front-End Dev</li>
                  <li class="person--company">Code School</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/drewbarontini"><i aria-role="hidden" data-icon="t"></i></a>



                    <a href="http://dribbble.com/drewbarontini"><i aria-role="hidden" data-icon="d"></i></a>



                    <a href="http://github.com/drewbarontini"><i aria-role="hidden" data-icon="u"></i></a>



                    <a href="http://drewbarontini.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io/drewbarontini/"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Drew is a front-end developer for Code School in Orlando, FL. He's an internet introvert, real-life extrovert, and an obsessive-compulsive developer who diligently rages about spacing, organization, and general cleanliness of HTML and CSS (and also anything). His love of both graphic design and programming ultimately led him to the perfect match with front-end development.</p>


                <h4>Thinking Modular CSS</h4>

                <p class="mbf">Learn the 'why' of modular CSS by analyzing the decisions that craft a flexible CSS architecture.</p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            12:30 pm - 1:20 pm
          </div>

          <div class="timeline-event">
            <h6 class="mbs">The Right Tool for the Job: Designing in the Browser for Agencies - <a href="https://speakerdeck.com/bigsea/the-right-tool-for-the-job-designing-in-the-browser-sometimes">Slides</a>
</h6>

            <img class="fl lazy person--image" data-original="{{ "andi-graham.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
                <p class="mbf">Andi Graham</p>
                </li>
              <li class="person--title mbf">Principal</li>
              <li class="person--company">Big Sea Design and Development</li>
              <li class="person--socials">

                  <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="AndiGraham"></i>

                  <a href="https://twitter.com/andigrahambsd"><i aria-role="hidden" data-icon="t"></i></a>

                  <a href="http://bigseadesign.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>
          </div>

          <div class="modal tal" id="AndiGraham">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/andi-graham.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Andi Graham</li>
                  <li class="person--title mbf">Principal</li>
                  <li class="person--company">Big Sea Design and Development</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/andigrahambsd"><i aria-role="hidden" data-icon="t"></i></a>


                    <a href="http://bigseadesign.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Andi is a designer-turned-project manager who founded Big Sea, a digital design and development agency in St. Petersburg, Florida, in 2005 after leaving her role leading a digital team at a traditional agency. Since then, Big Sea has been building brands, sites and applications for small and mid-sized businesses around the globe.   Andi focuses on defining a core communication strategy before diving into design, and has been working with her team to keep their design process as goal-oriented as possible. When she’s not testing new SAAS tools, she’s probably working out at CrossFit, having scones with her five-year-old or enjoying a craft beer at one of St. Pete’s many local breweries.</p>


                <h4>The Right Tool for the Job:  Designing in the Browser for Agencies</h4>

                <p class="mbf">Designing in the browser is a fast and easy way to get from idea to outcome - and it’s worked amazingly well for product designers.  But how do you design 'in the browser' when you’ve got a hungry client waiting for something to show her boss? Who will most certainly want to change something - or everything - before approving a design approach? Clients hate surprises, so we make sure there are none. We’ve been refining the process of “designing in the browser” for two years, and I’ll share our process - trials and successes both - along with tips on how to approach communication with the team and client for project success.  </p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            1:20 pm - 2:50 pm
          </div>

          <div class="timeline-event">
            <h6>Lunch!</h6>
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            2:50 pm - 3:40 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">I Have No Idea What I'm Doing - <a href=" http://elyseholladay.github.io/tigers/">Notes &amp; Links</a></h6>

            <img class="fl lazy person--image" data-original="{{ "elyse-holladay.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Elyse Holladay </p>
              </li>
              <li class="person--title mbf">Teacher, Dev/Designer</li>
              <li class="person--company">MakerSquare</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="ElyseHolladay"></i>

                <a href="https://twitter.com/elyseholladay"><i aria-role="hidden" data-icon="t"></i></a>


                <a href="http://dribbble.com/elyseholladay"><i aria-role="hidden" data-icon="d"></i></a>


                <a href="http://github.com/elyseholladay"><i aria-role="hidden" data-icon="u"></i></a>


                <a href="http://elyseholladay.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

          <div class="modal tal" id="ElyseHolladay">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/elyse-holladay.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Elyse Holladay</li>
                  <li class="person--title mbf">Teacher, Dev/Designer</li>
                  <li class="person--company">MakerSquare</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/elyseholladay"><i aria-role="hidden" data-icon="t"></i></a>



                    <a href="http://dribbble.com/elyseholladay"><i aria-role="hidden" data-icon="d"></i></a>



                    <a href="http://github.com/elyseholladay"><i aria-role="hidden" data-icon="u"></i></a>



                    <a href="http://elyseholladay.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io/elyseholladay/"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Elyse is a front-end instructor and designer/developer at MakerSquare, the best dev bootcamp in Austin, TX. She's actively involved the Austin women in tech scene, teaches for Girl Develop It, and occasionally speaks at conferences. She has ten+ years of experience in HTML and CSS, and has spent her career writing CSS/Sass for large front-end apps. She has a GIF for every occasion, an epic makeup collection, and once got nicknamed Sparkles—and it stuck. When not at her computer you can probably find her doing yoga handstands, cooking, or devouring a book.</p>


                <h4>I Have No Idea What I'm Doing</h4>

                <p class="mbf">Exploring impostor syndrome, the fine line between deceit and 'fake it til you make it,' and discovering ways we can be intentful about how we learn, challenge ourselves, and share our knowledge.</p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            3:40 pm - 4:00 pm
          </div>

          <div class="timeline-event">
            Break
          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            4:00 pm - 4:50 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">How to Build Kickass Emails - <a href="https://www.slideshare.net/secret/fX31vwSutN808G">Slides</a></h6>

            <img class="fl lazy person--image" data-original="{{ "kevin-mandeville.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Kevin Mandeville </p>
              </li>
              <li class="person--title mbf">Designer</li>
              <li class="person--company">Litmus</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="KevinMandeville"></i>

                <a href="https://twitter.com/KEVINgotbounce"><i aria-role="hidden" data-icon="t"></i></a>


                <a href="http://dribbble.com/KEVINgotbounce"><i aria-role="hidden" data-icon="d"></i></a>

                <a href="http://kevingotbounce.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

          <div class="modal tal" id="KevinMandeville">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/kevin-mandeville.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Kevin Mandeville</li>
                  <li class="person--title mbf">Designer</li>
                  <li class="person--company">Litmus</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/KEVINgotbounce"><i aria-role="hidden" data-icon="t"></i></a>



                    <a href="http://dribbble.com/KEVINgotbounce"><i aria-role="hidden" data-icon="d"></i></a>
                    <a href="http://KEVINgotbounce.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                <p>Kevin Mandeville is a designer at Litmus. He loves using CSS trick to hack emails and make them do things they shouldn't do. When he's not pushing pixels, he can most often be found streetballin, supporting Boston sports teams, and using the Oxford comma all over the place.</p>


                <h4>How to Build Kickass Emails</h4>

                <p class="mbf">Email is perceived as a dark art in the web design and development world. My presentation will dispel the myths of email development and uncover what's possible now. I'll review the tips and tricks I wish I knew when I started building emails and how to approach building them as a web designer/developer. I'll also go over innovative techniques (with examples!) to make your emails stand out in the inbox.</p>

              </div>

            </div>

          </div>

        </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            4:50 am - 5:40 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Boxes and Grids, Oh My. - <a href="https://speakerdeck.com/noahstokes/boxes-and-grids-oh-my">Slides</a></h6>

            <img class="fr lazy person--image" data-original="{{ "noah-stokes.jpg" | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="100" />

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Noah Stokes </p>
              </li>
              <li class="person--title mbf">Designer/Developer, Partner</li>
              <li class="person--company">Bold</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="NoahStokes"></i>

                <a href="https://twitter.com/motherfuton"><i aria-role="hidden" data-icon="t"></i></a>


                <a href="http://dribbble.com/motherfuton"><i aria-role="hidden" data-icon="d"></i></a>

                <a href="http://esbueno.noahstokes.com"><i aria-role="hidden" data-icon="b"></i></a>

              </li>

            </ol>

          </div>

          <div class="modal tal" id="NoahStokes">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/noah-stokes.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Noah Stokes</li>
                  <li class="person--title mbf">Designer/Developer, Partner</li>
                  <li class="person--company">Bold</li>
                  <li class="person--socials tsl">


                    <a href="https://twitter.com/motherfuton"><i aria-role="hidden" data-icon="t"></i></a>


                  </li>
                  <!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>



                <h4>Boxes and Grids, Oh My.</h4>

                <p class="mbf">Creative solutions to Responsive Web Design challenges that help us break out of boxes and grids.</p>

              </div>

            </div>

          </div>

        </li>

      </ul>

    </article>

    <article class="cell--d">

      <h2 class="timeline-title">Saturday, July 12th</h2>

      <ul class="timeline cell--e">

        <li class="timeline-item">

          <div class="timeline-meta">
            11:00 am - 11:25 am
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Lost &amp; Found</h6>

            <img class="fl lazy person--image" data-original="/public/images/photos/carl-smith-2014.jpg" src="/public/images/photos/carl-smith-2014.jpg" width="100" style="display: block;">

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Carl Smith</p>
              </li>
              <li class="person--title mbf">The Advisor</li>
              <li class="person--company">nGen Works</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="CarlSmith"></i>


                  <a href="https://twitter.com/carlsmith"><i aria-role="hidden" data-icon="t"></i></a>


                  <a href="http://devianthippie.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="CarlSmith">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/carl-smith-2014.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Carl Smith</li>
                  <li class="person--title mbf">The Advisor</li>
                  <li class="person--company">nGen Works</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/carlsmith"><i aria-role="hidden" data-icon="t"></i></a>


                      <a href="http://devianthippie.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Carl Smith is an irreverant ditcher of the nine-to-five and mortal enemy of the overworked lifestyle. Owner and founder of nGen Works, Carl’s role is that of an advisor, to nGen and other companies, on how to create self-sustaining teams that perform at the highest levels. Carl has made a name for himself by creating a new framework for how we get things done, and by enabling us to realign our creative communities. When he’s not conducting business experiments with companies around the world, he’s busy sculpting a new face for the world of work… and play.</p>


                <h4>Lost &amp; Found</h4>

                <p class="mbf">Life isn’t that short, we just waste most of it doing silly things. We lose our focus on why we get up in the morning. We create a mythology around who we are and the problems we face. As social creatures, we feed off each others myths and create group illusions about the world. But history, nature, science and philosophy agree that there is a different way. An easier way. A better way. </p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            11:30 am - 11:55 am
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Intersecting worlds of web and education: A foray into the Digital Frontier - <a href="https://docs.google.com/presentation/d/1SO0UFjv4pqMAd_V6DkieWpjXqUXYdtBbD3_wz-bXinQ/edit#slide=id.p">Slides</a></h6>

            <img class="fr lazy person--image" data-original="/public/images/photos/erica-walker.jpg" src="/public/images/photos/erica-walker.jpg" width="100" style="display: block;">

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Erica Walker</p>
              </li>
              <li class="person--title mbf">Lecturer (Web developer, Designer, Professional Learner)</li>
              <li class="person--company">Clemson University &amp; Ignite Creatives</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="EricaWalker"></i>


                  <a href="https://twitter.com/ebwalker101"><i aria-role="hidden" data-icon="t"></i></a>


                  <a href="http://ignitecreatives.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="EricaWalker">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/erica-walker.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Erica Walker</li>
                  <li class="person--title mbf">Lecturer (Web developer, Designer, Professional Learner)</li>
                  <li class="person--company">Clemson University &amp; Ignite Creatives</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/ebwalker101"><i aria-role="hidden" data-icon="t"></i></a>


                      <a href="http://ignitecreatives.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Ignite Creatives was born after completing production on the feature film Reclaiming the Blade with Galatia Films in 2010 so I could continue to pursue web, video, and print projects. Because visual media permeates nearly every moment of our days I wanted to delve into more diverse projects. My background in Graphic Communications includes feature film production, web design, and graphic design for print. At Clemson, I currently teach courses in Photography, Video, Web Development. I am also extremely interested in entrepreneurship within the Graphic Communciations industries and spent a year interviewing entrepreneurs in these areas. From that research, a new, unique online class will be launched Summer 2014 focusing on Entrepreneurship in the Graphic Comm Industries. Starting in the summer of 2013, I began working towards my PhD in the area of Digital Media + Learning in the School of Education at Clemson University.</p>


                <h4>Intersecting worlds of web and education: A foray into the Digital Frontier</h4>

                <p class="mbf">Formal education at the college level is lagging behind community education in the area of web development. At Clemson, we are just now beginning to add courses in our department to teach web coding, but we are in desperate need of guidance. Universities, in general move way too slow in comparison with community, self-taught content and moving too slow is death in the world of web. Not everyone thrives in a self-teaching environment, but both community teachers and formal-ed teachers have the same goal— producing the next generation of strong web developers. In this talk, which will be given in conjunction with one of my students who will also be attending the conference, we will explore where we are now and prospective avenues for advancing the intersecting worlds of web and education.</p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            12:00 pm - 12:25 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Styling Forms Semantically &amp; Accessibly - <a href="http://slides.com/amandacheung/styling-forms-semantically-and-accessibly#/">Slides</a></h6>

            <img class="fl lazy person--image" data-original="/public/images/photos/amanda-cheung.jpg" src="/public/images/photos/amanda-cheung.jpg" width="100" style="display: block;">

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Amanda Cheung</p>
              </li>
              <li class="person--title mbf">Lead Interaction Developer</li>
              <li class="person--company">DockYard</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="AmandaCheung"></i>


                  <a href="https://twitter.com/acacheung"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="http://github.com/acacheung"><i aria-role="hidden" data-icon="u"></i></a>



                  <a href="http://dockyard.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="AmandaCheung">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/amanda-cheung.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Amanda Cheung</li>
                  <li class="person--title mbf">Lead Interaction Developer</li>
                  <li class="person--company">DockYard</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/acacheung"><i aria-role="hidden" data-icon="t"></i></a>
                      <a href="http://github.com/acacheung"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://dockyard.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p></p>


                <h4>Styling Forms Semantically &amp; Accessibly</h4>

                <p class="mbf">First, we will cover semantic form markup: why it's important and how it affects the accessibility of the forms that live within our websites. Then, we'll move on to the cool stuff! Browsers build a lot of functionality into HTML forms that we should not be handling on our own. However, some of these features come with default styles that we may not want to put into our websites. Everyone knows what inputs and dropdowns look like out of the box. We want to customize the style of our forms to create better experiences for our users, but when does that start to hurt usability? Where do we draw the line? This talk will go over some of these situations. We will discuss how far we can go with styling snazzy forms while keeping these features intact as well as what's in the future.</p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            12:30 pm - 12:55 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Let's Be Brutally Honest About Operations and Pricing for Web Agencies - <a href="https://speakerdeck.com/robharr/lets-be-brutally-honest-about-operations-and-pricing-for-web-agencies-front-end-conf-2014">Slides</a></h6>

            <img class="fr lazy person--image" data-original="/public/images/photos/rob-harr.jpg" src="/public/images/photos/rob-harr.jpg" width="100" style="display: block;">

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Rob Harr</p>
              </li>
              <li class="person--title mbf">Technical Director</li>
              <li class="person--company">Sparkbox</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="RobHarr"></i>


                  <a href="https://twitter.com/robertharr"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="http://github.com/robharr"><i aria-role="hidden" data-icon="u"></i></a>



                  <a href="http://seesparkbox.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="RobHarr">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/rob-harr.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Rob Harr</li>
                  <li class="person--title mbf">Technical Director</li>
                  <li class="person--company">Sparkbox</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/robertharr"><i aria-role="hidden" data-icon="t"></i></a>
                      <a href="http://github.com/robharr"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://seesparkbox.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Rob is Technical Director for Sparkbox, a leader in responsive web design and custom software solutions. Rob is responsible for operations and leading the development team. On any given day, Rob meets with prospective clients, writes code, continues to lead the charge in improving business decisions, and hangs out with his kids.</p>


                <h4>Let's Be Brutally Honest About Operations and Pricing for Web Agencies</h4>

                <p class="mbf">Let's face it—most of us running web shops did not study business. We just love building things, so we started companies where we could build on our own terms. Unfortunately, being a great builder of web things does not necessarily equip us to make sound business decisions. Co-managing Sparkbox the past five years, I've made plenty of mistakes. From an operations and pricing perspective, let's discuss what didn't work and what is working for us at Sparkbox. We'll talk about different pricing strategies, work estimates, and how we run business operations. My hope is that you can learn from our mistakes—and our successes. This will be a brutally honest discussion, so please come armed with questions.</p>

              </div>

            </div>

        </div>

      </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            12:55 pm - 2:0 pm
          </div>

          <div class="timeline-event">
            Lunch!
          </div>

        </li>


        <li class="timeline-item">

          <div class="timeline-meta">
            2:00 pm - 2:25 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Remote. Commit. Push. - <a href="https://speakerdeck.com/tbmiller/remote-commit-push-1">Slides</a></h6>

            <img class="fr lazy person--image" data-original="/public/images/photos/travis-miller.jpg" src="/public/images/photos/travis-miller.jpg" width="100" style="display: block;">

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Travis Miller</p>
              </li>
              <li class="person--title mbf">Developer</li>
              <li class="person--company">SPARK</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="TravisMiller"></i>


                  <a href="https://twitter.com/travismillerweb"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="http://github.com/tbmiller"><i aria-role="hidden" data-icon="u"></i></a>



                  <a href="http://travismillerweb.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="TravisMiller">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/travis-miller.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Travis Miller</li>
                  <li class="person--title mbf">Developer</li>
                  <li class="person--company">SPARK</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/travismillerweb"><i aria-role="hidden" data-icon="t"></i></a>
                      <a href="http://github.com/tbmiller"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://travismillerweb.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Travis Miller is a Developer at SPARK and Bahamian native obsessed with design, strategy and building stuff with his own two hands. He collaborates with others on web design/development, content strategy and digital campaign development.</p>


                <h4>Remote. Commit. Push.</h4>

                <p class="mbf">Moving back home to Nassau, Bahamas to work remote, I took on the challenge of building up the design community back in in my homeland. This talk aims to share perspective gained from standing up for good design, as well as lessons and tricks on how working as a developer in two different countries helped made be a better designer, thinker and communicator.</p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            2:30 am - 2:55 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">No Control - How To Design For An Unknown Result - <a href="https://speakerdeck.com/tbmiller/remote-commit-push-1">Slides</a></h6>

            <img class="fl lazy person--image" data-original="/public/images/photos/andrew-norcross.jpg" src="/public/images/photos/andrew-norcross.jpg" width="100" style="display: block;">

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Andrew Norcross</p>
              </li>
              <li class="person--title mbf">Lead Developer</li>
              <li class="person--company">Reaktiv Studios</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="AndrewNorcross"></i>


                  <a href="https://twitter.com/norcross"><i aria-role="hidden" data-icon="t"></i></a>
                  <a href="http://github.com/norcross"><i aria-role="hidden" data-icon="u"></i></a>



                  <a href="http://andrewnorcross.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="AndrewNorcross">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/andrew-norcross.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Andrew Norcross</li>
                  <li class="person--title mbf">Lead Developer</li>
                  <li class="person--company">Reaktiv Studios</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/norcross"><i aria-role="hidden" data-icon="t"></i></a>
                      <a href="http://github.com/norcross"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://andrewnorcross.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Andrew builds things. Internet things. He’s the founder / lead developer of Reaktiv Studios, a WordPress development agency based in Tampa. He's a WordPress core contributor and has released numerous free open source plugins. When he's not building plugins or knee deep in PHP and JavaScript, he's probably hanging out with his wife, 3 kids, and 2 old basset hounds trying to watch some baseball.</p>


                <h4>No Control - How To Design For An Unknown Result</h4>

                <p class="mbf">How to better design for a CMS. I'm a WordPress developer by trade and I often deal with designs by people who don't take things into account such as dynamic content, build structure, and how the UX concept can work within the methods the CMS has available.</p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            3:00 pm - 3:25 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">SMACSS Your Sass Up - <a href="http://mina.is/speaking/smacss-sass/slides.pdf">Slides</a> and <a href="https://github.com/minamarkham/sassy-starter">Files</a></h6>

            <img class="fr lazy person--image" data-original="/public/images/photos/mina-markham.jpg" src="/public/images/photos/mina-markham.jpg" width="100" style="display: block;">

            <ol class="fr mrm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Mina Markham</p>
              </li>
              <li class="person--title mbf">Front-End Developer</li>
              <li class="person--company">Parago</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="MinaMarkham"></i>


                  <a href="https://twitter.com/minamarkham"><i aria-role="hidden" data-icon="t"></i></a>



                  <a href="http://dribbble.com/minamarkham"><i aria-role="hidden" data-icon="d"></i></a>



                  <a href="http://github.com/minamarkham"><i aria-role="hidden" data-icon="u"></i></a>



                  <a href="http://mina.is/here"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="MinaMarkham">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/mina-markham.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Mina Markham</li>
                  <li class="person--title mbf">Front-End Developer</li>
                  <li class="person--company">Parago</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/minamarkham"><i aria-role="hidden" data-icon="t"></i></a>



                      <a href="http://dribbble.com/minamarkham"><i aria-role="hidden" data-icon="d"></i></a>



                      <a href="http://github.com/minamarkham"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://mina.is/here"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io/minamarkham/"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Mina Markham is a Sass-lovin' UI developer/designer in Dallas, Texas. She recently founded the Dallas chapter of Girl Develop It, and also teaches for Black Girls Code. As a developer at Parago, she specializes in building responsive websites and modular CSS architecture. When she's not crafting sites or teaching others, Mina is probably in her kitchen baking something chocolatey.</p>


                <h4>SMACSS Your Sass Up</h4>

                <p class="mbf">I often ask myself these questions: How can I provide code that would be easy to use for the others? Code that scales, no matter how big the project is? Code that I can write, forget and change later without being lost? While Scalable and Modular Architecture for CSS (SMACSS) is just one methodology, the principals of modular CSS are applicable to sites large and small. Using a modular approach in tandem with Sass can greatly improve development efficiency and project maintenance. I'll discuss specific techniques, such as selector inheritance and interpolation, that can greatly reduce the amount of code written. Your code will be more portable, making it easier to use code on other projects.</p>

              </div>

            </div>

        </div>

      </li>



        <li class="timeline-item">

          <div class="timeline-meta">
            3:30 pm - 3:55 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Contextually Aware Web Design<a href="">Slides</a></h6>

            <img class="fl lazy person--image" data-original="/public/images/photos/matthew-carver.jpg" src="/public/images/photos/matthew-carver.jpg" width="100" style="display: block;">

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Matthew Carver</p>
              </li>
              <li class="person--title mbf">Technology Director</li>
              <li class="person--company">Big Spaceship</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="MatthewCarver"></i>


                  <a href="https://twitter.com/matthew_carver"><i aria-role="hidden" data-icon="t"></i></a>


                  <a href="http://bigspaceship.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="MatthewCarver">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/matthew-carver.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Matthew Carver</li>
                  <li class="person--title mbf">Technology Director</li>
                  <li class="person--company">Big Spaceship</li>
                  <li class="person--socials tsl">


                      <a href="https://twitter.com/matthew_carver"><i aria-role="hidden" data-icon="t"></i></a>


                      <a href="http://bigspaceship.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Matthew is the Technology Director for Big Spaceship and the author of The Responsive Web by Manning Publications. He is not only passionate about concise CSS, lean HTML, and efficient JavaScript but strives to use these technologies in new and unexpected ways. In addition to his work on the web, Matthew once played basketball with Snoop Dog back stage at Lalapalooza ’97.  Matthew lives in New York City with his wife and Jack Russell Terrier, Seymour.</p>


                <h4>Contextually Aware Web Design</h4>

                <p class="mbf">As web browsers get smarter and more personal, individuals are drawing stronger connections to their devices. How are going to reward those connections? How can we prioritize content or adjust our user interfaces to create compelling experiences for people as they are? What does the web look like if we adjust our sites for users who are in motion or who are accessing a site in the morning? By adding contextual awareness to the web, we can create a more satisfying experience and embrace a more user-centric web.</p>

              </div>

            </div>

        </div>

      </li>

        <li class="timeline-item">

          <div class="timeline-meta">
            4:00 pm - 4:20 pm
          </div>

          <div class="timeline-event">
            Break!
          </div>

        </li>


        <li class="timeline-item">

          <div class="timeline-meta">
            4:20 pm - 4:45 pm
          </div>

          <div class="timeline-event">

            <h6 class="mbs">Design Pattern Craftsmanship</h6>

            <img class="fl lazy person--image" data-original="/public/images/photos/jason-beaird.jpg" src="/public/images/photos/jason-beaird.jpg" width="100" style="display: block;">

            <ol class="fl mlm person--meta">
              <li class="person--name tfh tsl">
              <p class="mbf">Jason Beaird</p>
              </li>
              <li class="person--title mbf">Senior UX Developer</li>
              <li class="person--company">MailChimp</li>
              <li class="person--socials">

                <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="JasonBeaird"></i>

                  <a href="http://github.com/jasongraphix"><i aria-role="hidden" data-icon="u"></i></a>
                  <a href="http://twitter.com/jasongraphix"><i aria-role="hidden" data-icon="t"></i></a>



                  <a href="http://jasongraphix.com"><i aria-role="hidden" data-icon="b"></i></a>


              </li>

            </ol>

          </div>

          <div class="modal tal" id="JasonBeaird">

            <div class="cell--b">

              <i class="modal--close fr twn tac">x</i>

              <div class="card">

                <img class="dib person--photo mbm" src="/public/images/photos/jason-beaird.jpg" width="200">

                <ol class="dib person--meta mbl vat">
                  <li class="person--name tfh tsl">Jason Beaird</li>
                  <li class="person--title mbf">Senior UX Developer</li>
                  <li class="person--company">MailChimp</li>
                  <li class="person--socials tsl">
                      <a href="http://github.com/jasongraphix"><i aria-role="hidden" data-icon="u"></i></a>



                      <a href="http://jasongraphix.com"><i aria-role="hidden" data-icon="b"></i></a>

                  </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io/jasongraphix/"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->
                  <li class="person--dribbble dib"></li>
                  <li class="person--github dib"></li>
                  <li class="person--site dib"><a href="http://"></a></li>

                </ol>


                  <p>Jason Beaird is a UX Developer at MailChimp and author of The Principles of Beautiful Web Design. Over the past 3 years, he has survived 2 MailChimp redesigns and 2 major home renovation projects. In the same period, Jason and his wife have also had 2 daughters. He occasionally writes things about front-end development at MailChimp for the The UX Newsletter.</p>


                <h4>Design Pattern Craftsmanship</h4>

                <p class="mbf">As designers and developers, we all want to put our personal stamp on the web and solve problems in uniquely awesome ways. This mentality works fine for small jobs but tends to fall apart with big projects and team environments. In his talk, Jason will explain how MailChimp's pattern library helps their team prototype faster, promote collaboration and prevent code bloat. He'll also explore other pattern resources and share tools to help you craft your own modular, expandable set of interface patterns.</p>

              </div>

            </div>

        </div>

      </li>

      <li class="timeline-item">

        <div class="timeline-meta">
          4:50 pm - 5:15 pm
        </div>

        <div class="timeline-event">

          <h6 class="mbs">A frontender builds a backend: learning to think with your eyes closed</h6>

          <img class="fr lazy person--image" data-original="/public/images/photos/mason-stewart.jpg" width="100" style="display: block;">

          <ol class="fr mrm person--meta">
            <li class="person--name tfh tsl">
            <p class="mbf">Mason Stewart</p>
            </li>
            <li class="person--title mbf">Chief Technology Officer</li>
            <li class="person--company">The Iron Yard</li>
            <li class="person--socials">

              <i aria-role="hidden" class="modal--trigger person--info mrs" data-icon="r" data-id="MasonStewart"></i>


                <a href="https://twitter.com/masondesu"><i aria-role="hidden" data-icon="t"></i></a>


                <a href="http://masondesu.com"><i aria-role="hidden" data-icon="b"></i></a>

                <a href="http://github.com/masondesu"><i aria-role="hidden" data-icon="u"></i></a>


            </li>

          </ol>

        </div>

        <div class="modal tal" id="MasonStewart">

          <div class="cell--b">

            <i class="modal--close fr twn tac">x</i>

            <div class="card">

              <img class="dib person--photo mbm" src="/public/images/photos/mason-steward.jpg" width="200">

              <ol class="dib person--meta mbl vat">
                <li class="person--name tfh tsl">Mason Stewart</li>
                <li class="person--title mbf">Chief Technology Officer</li>
                <li class="person--company">The Iron Yard</li>
                <li class="person--socials tsl">


                    <a href="https://twitter.com/masondesu"><i aria-role="hidden" data-icon="t"></i></a>


                    <a href="http://masondesu.com"><i aria-role="hidden" data-icon="b"></i></a>

                    <a href="http://github.com/masondesu"><i aria-role="hidden" data-icon="u"></i></a>

                </li>
<!--                     <li class="person--codepen dib"><a href="http://codepen.io//"><i aria-role="hidden" data-icon="&#x74;"></i></a></li> -->


              </ol>


                <p>Mason was born and raised in Jackson, MS (better known as The Dirty South). He grew up in the woods and, as a result, likes animals, trees and beer. A hacker from the start, he began hacking on software in his early teens. Upon moving back to the USA after four years in Japan, at age 24 he ended a multi-year fast from programming and hit the ground running. Like any good college graduate with a degree in philosophy, he has worked for small, boutique web shops, startups in San Francisco and everywhere in between.
</p>


              <h4>A frontender builds a backend: learning to think with your eyes closed</h4>

            </div>

          </div>

      </div>

    </li>

      </ul>

    </article>



  </section>

  <h2 class="mbf mts tac">Attendees</h2>

  <section class="current--attendees tac">

    {% for attendee in model.attendees reversed %}

      {% if attendee.fullName != "" %}

        <article class="attendee dib mas pas">

          <img class="db mbs lazy" data-original="{{ attendee.avatar | asset_url }}" src="{{ "anonymous.jpg" | asset_url }}" width="200" />

          <ul>
            <li><h5>{{ attendee.fullName }}</h5></li>
            <li class="tss">{{ attendee.title }}</li>
            <li class="tcs tss">{{ attendee.company }}</li>
            <li class="mts">

              {% if attendee.twitter != '' %}
                <a href="https://twitter.com/{{ attendee.twitter }}"><i aria-role="hidden" data-icon="&#x74;"></i></a>
              {% endif %}

              {% if attendee.dribbble != '' %}
                <a class="mls" href="http://dribbble.com/{{ attendee.dribbble }}"><i aria-role="hidden" data-icon="&#x64;"></i></a>
              {% endif %}

              {% if attendee.github != '' %}
                <a class="mls" href="http://github.com/{{ attendee.github }}"><i aria-role="hidden" data-icon="&#x75;"></i></a>
              {% endif %}

              {% if attendee.codepen != '' %}
                <a class="mlxs" href="http://codepen.io/{{ attendee.codepen }}"><?xml version="1.0" encoding="utf-8"?>
                  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 class="codepen" width="18px" height="18px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                  <g>
                  	<path d="M249.549,15C120.009,15,15,120.009,15,249.549s105.009,234.545,234.549,234.545c129.537,0,234.545-105.005,234.545-234.545
                  		S379.086,15,249.549,15z M249.549,445.576c-108.091,0-196.027-87.939-196.027-196.027S141.458,53.522,249.549,53.522
                  		c108.087,0,196.023,87.939,196.023,196.027S357.637,445.576,249.549,445.576z"/>
                  	<path d="M394.462,203.737c-0.026-0.183-0.072-0.358-0.103-0.542c-0.062-0.351-0.126-0.702-0.218-1.045
                  		c-0.054-0.206-0.13-0.404-0.194-0.603c-0.1-0.305-0.198-0.61-0.32-0.908c-0.085-0.206-0.184-0.412-0.278-0.61
                  		c-0.131-0.282-0.268-0.557-0.424-0.824c-0.114-0.199-0.236-0.39-0.354-0.58c-0.168-0.26-0.34-0.512-0.527-0.756
                  		c-0.137-0.183-0.281-0.366-0.427-0.542c-0.198-0.229-0.404-0.458-0.622-0.671c-0.163-0.167-0.324-0.335-0.496-0.488
                  		c-0.229-0.206-0.465-0.404-0.705-0.595c-0.187-0.145-0.37-0.29-0.564-0.427c-0.073-0.046-0.137-0.107-0.206-0.153L256.461,106.62
                  		c-4.188-2.792-9.639-2.792-13.827,0l-132.562,88.374c-0.068,0.046-0.133,0.107-0.206,0.153c-0.195,0.137-0.378,0.282-0.561,0.427
                  		c-0.244,0.19-0.481,0.389-0.706,0.595c-0.175,0.153-0.335,0.321-0.5,0.488c-0.217,0.214-0.423,0.443-0.618,0.671
                  		c-0.148,0.176-0.293,0.359-0.431,0.542c-0.183,0.244-0.359,0.496-0.522,0.756c-0.126,0.19-0.244,0.381-0.358,0.58
                  		c-0.153,0.267-0.29,0.542-0.424,0.824c-0.095,0.198-0.194,0.404-0.278,0.61c-0.122,0.297-0.221,0.603-0.32,0.908
                  		c-0.065,0.198-0.137,0.396-0.195,0.603c-0.091,0.343-0.152,0.694-0.217,1.045c-0.03,0.183-0.076,0.358-0.099,0.542
                  		c-0.073,0.534-0.114,1.076-0.114,1.625v88.374c0,0.549,0.042,1.091,0.114,1.633c0.023,0.176,0.069,0.358,0.099,0.533
                  		c0.065,0.352,0.126,0.702,0.217,1.046c0.058,0.206,0.13,0.404,0.195,0.603c0.099,0.305,0.198,0.61,0.32,0.915
                  		c0.084,0.207,0.183,0.405,0.278,0.604c0.134,0.281,0.271,0.556,0.424,0.831c0.114,0.191,0.232,0.381,0.358,0.572
                  		c0.164,0.26,0.339,0.512,0.522,0.756c0.138,0.19,0.283,0.366,0.431,0.541c0.195,0.229,0.401,0.458,0.618,0.672
                  		c0.165,0.167,0.325,0.335,0.5,0.487c0.225,0.207,0.461,0.405,0.706,0.596c0.183,0.146,0.366,0.29,0.561,0.427
                  		c0.072,0.046,0.137,0.107,0.206,0.152l132.562,88.375c2.094,1.396,4.505,2.098,6.916,2.098c2.407,0,4.817-0.702,6.912-2.098
                  		l132.562-88.375c0.069-0.045,0.133-0.106,0.206-0.152c0.194-0.137,0.378-0.281,0.564-0.427c0.24-0.19,0.477-0.389,0.705-0.596
                  		c0.172-0.152,0.333-0.32,0.496-0.487c0.218-0.214,0.424-0.443,0.622-0.672c0.146-0.175,0.29-0.351,0.427-0.541
                  		c0.188-0.244,0.359-0.496,0.527-0.756c0.118-0.191,0.24-0.381,0.354-0.572c0.156-0.275,0.293-0.55,0.424-0.831
                  		c0.095-0.198,0.193-0.396,0.278-0.604c0.122-0.305,0.221-0.61,0.32-0.915c0.064-0.198,0.141-0.396,0.194-0.603
                  		c0.092-0.344,0.156-0.694,0.218-1.046c0.03-0.175,0.076-0.357,0.103-0.533c0.068-0.542,0.111-1.084,0.111-1.633v-88.374
                  		C394.573,204.813,394.53,204.271,394.462,203.737z M262.012,140.279l97.654,65.098l-43.619,29.181l-54.035-36.146V140.279z
                  		 M237.083,140.279v58.133l-54.032,36.146l-43.623-29.181L237.083,140.279z M129.45,228.692l31.184,20.857l-31.184,20.858V228.692z
                  		 M237.083,358.819l-97.655-65.099l43.623-29.173l54.032,36.139V358.819z M249.549,279.035l-44.084-29.486l44.084-29.486
                  		l44.081,29.486L249.549,279.035z M262.012,358.819v-58.133l54.035-36.139l43.619,29.173L262.012,358.819z M369.645,270.407
                  		l-31.18-20.858l31.18-20.857V270.407z"/>
                  </g>
                  </svg>
                </a>
              {% endif %}

            </li>
          </ul>

        </article>

      {% endif %}

    {% endfor %}

    <p class="mbl mtl">If you need to update your info, <a href="https://dandenney.wufoo.com/forms/profile-updatifier/
">send your changes</a>.</p>

  </section>


  <article class="cell coc">

    <h2 class="tac">Conference Code of Conduct</h2>
    <p>We have been lucky each year to have an event filled with kind and respectful people. This event is run by a family and we consider all attendees our new friends. That said, we would like to make sure that we will not tolerate harrassment of any kind. We will deal with any complaint swiftly and professionally.</p>

  </article>

  {{ "lazyload.js" | asset_url | script_tag }}

  <script>
    $("img.lazy").lazyload({
      effect: "fadeIn"
    });

  </script>

{% endblock %}
