{% block content %}

  <h1>Workshop</h1>

  <section class="inner workshop">

    <p>We're pumped to offer our first workshop. It will be a full day focused on the techniques of front-end development, taught by Nick Walsh and Drew Barontini. It is intended for people who have been building small to medium sites and are looking to improve efficiency, work on applications or may be expanding their team.</p>

    <h4>The Teachers</h4>

    <p>Nick and Drew work together at Envy Labs, where they collaborate on many projects, including Code School. They also put together <a href="http://mvcss.github.com">MVCSS</a>, which is their method for creating predictable and maintainable application style.</p>

    <div class="wrapper--halves">

      <div class="block-to-half center-group fake-and">
        <p class="h5">Nick Walsh</p>
        <img src="{{ "/images/characters/nick-walsh.svg" | asset_url }}" alt="Nick Walsh">
      </div>

      <div class="block-to-half center-group">
        <p class="h5">Drew Barontini</p>
        <img src="{{ "/images/characters/drew-barontini.svg" | asset_url }}" alt="Drew Barontini">
      </div>

    </div>

    <div class="wrapper--thirds sites">
      
      <div class="block-to-one-third center-group">
        <a href="http://envylabs.com"><img src="{{ "/images/workshop/envy-labs.png" | asset_url }}" width="150" /><br />EnvyLabs.com</a>
      </div>
      
      <div class="block-to-one-third center-group">
        <a href="http://codeschool.com"><img src="{{ "/images/workshop/code-school.png" | asset_url }}" width="150" /><br />CodeSchool.com</a>
      </div>
      
      <div class="block-to-one-third center-group">
        <a href="http://mvcss.github.com"><img src="{{ "/images/workshop/mvcss.png" | asset_url }}" width="150" /><br />mvcss.github.com</a>
      </div> 
    
    </div>

    <div class="wrapper--halves">

      <div class="block-to-half">

        <h4>What's the Deal?</h4>

        <p>Registering for the workshop is $425, which includes the conference. On Thursday, June 20th, the workshop will run from 9am-5pm with a one-hour lunch break.</p>

        <p>Lunch will be provided, along with snacks and drinks throughout the day. The location will include desk space with access to power and wi-fi.</p>

      </div>

      <div class="block-to-half">

        <h4>What you'll need</h4>

        <p>While it would be possible to attend without one, we highly recommend bringing a laptop with you.</p>

        <p class="holy-shit-pay-attention-to-me">You will get the most out of the day if you have experience with HTML/CSS, are familiar with JavaScript and have built small to medium sites.</p>
        
      </div>

    </div>

    <div class="wrapper--halves">

      <div class="block-to-half">

        <h4>Topics</h4>
      
        <ol>
          <li class="h5">The State of the Front-End Union</li>
          <li class="h5">In the Beginning (CSS)</li>
          <li class="h5">Crafting Selectors</li>
          <li class="h5">Accessibility</li>
          <li class="h5">Process</li>
          <li class="h5">Patterns</li>
          <li class="h5">Performance</li>
          <li class="h5">Coping Mechanisms</li>
          <li class="h5">Version Control for the Front-Ender</li>
          <li class="h5">Tools</li>
          <li class="h5">Where to Go from Here</li>
        </ol>

      </div>

      <div class="block-to-half">
        
        <h4>Location Info</h4>

        <ul class="coming-soon">
          <li><img src="{{ "/images/maps/map-palladium.png" | asset_url }}" alt="map to Palladium Theater"></li>
          <li><h5>Future Workshop Location</h5></li>
          <li>1234 Workshop Lane <br /> St. Petersburg, FL 33701</li>
        </ul>

      </div>

    </div>

    <div class="center-group cta">
      <a href="https://dandenney.wufoo.com/forms/2013-frontend-design-conference-workshop" class="btn">Register Now</a>
      <h5>9 of 25 Remaining</h5>
    </div>

  </section>

{% endblock %}